
		<a class="atras imagen" href="javascript:abrirInicio();"><img src="{{ asset('bundles/app/images/btn_atras.png') }}"/></a>

		<div class="cartelera-col1 imagen">
			<div class="titulo-vertical-icono"><img src="{{ asset('bundles/app/images/ico-cartelera.png') }}"/></div>
			<div class="cartelera-titulo-vertical">CARTELERA</div>
		</div>


		<div class="cartelera-col2">
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(1)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/belleza.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">BELLEZA INESPERADA</div><br><br>

				<div id="trailer1" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/belleza.mp4') }}" type="video/mp4">
					</video>
				</div>
				<div id="texto1">
				 La trama gira en torno a un ejecutivo de una agencia de publicidad de Nueva York, que lidia contra la depresión después de sufrir una tragedia familiar que da un vuelco a su vida.
				</div>
							

			</div>

			<br>

			<div class="cartelera-texto flip2" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(2)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/xxx.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">XXX REACTIVADO</div><br><br>

				<div id="trailer2" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/xxx.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto2">Lo bueno, lo extremo y lo completamente desquiciado... Esto es XXX. No te pierdas a Vin Diesel y al equipo XXX en el nuevo trailer de XXX: Reactivado.
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(3)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/sing.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">SING ¡VEN Y CANTA!</div><br><br>

				<div id="trailer3" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/sing.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto3">
				 Situada en un mundo como el nuestro, pero habitada totalmente por animales, SING ¡Ven y canta! Es protagonizada por Buster Moon (Con la voz del ganador del Oscar, Matthew McConaughey), un koala quien está al frente del que alguna vez fuera uno de los teatros más importantes de la ciudad, pero que actualmente pasa por tiempos difíciles. Buster es un eterno optimista (quizás hasta un poco sinvergüenza), pero ama tanto a su teatro que hará hasta lo imposible por conservarlo. Poco a poco, ve como su sueño se desmorona y es ahí cuando tiene la idea de revivir la gloria de su teatro a través del más grande concurso de canto del mundo.Cinco concursantes son elegidos: Un astuto ratón (Seth MacFarlane); una tímida elefanta adolescente (Tori Kelly) con pánico escénico; una abnegada madre (Voz de la ganadora del Oscar, Reese Witherspoon) quien debe cuidar a sus 25 cerditos; un gorila adolescente quien desea alejarse de las malas costumbres de su familia; una rockera puerca espín (Scarlett Johansson), quien debe alejarse de su complicado novio e iniciar una vida como solista. Cada uno llega al teatro de Buster creyendo que está ante la oportunidad perfecta para cambiar el rumbo de sus vidas.
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(4)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/john.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">JOHN WICK 2: UN NUEVO DIA PARA MATAR</div><br><br>

				<div id="trailer4" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/john.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto4">
				En esta emocionante segunda parte del éxito de 2014, el legendario asesino John Wick (Keanu Reeves) es forzado a salir de su retiro. Un exsocio está planeando tomar el control de una oscura organización de asesinos italianos y John, atado por un juramento de sangre debe ayudarlo. Para cumplir la misión viaja a Roma donde se enfrenta a los criminales más letales del mundo. Una película de suspenso llena de adrenalina que lleva la historia original a un nuevo nivel. 

				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(5)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/land.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">LA LA LAND</div><br><br>

				<div id="trailer5" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/land.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto5">
				  Escrita y dirigida por el nominado al Óscar Damien Chazelle, LA LA LAND cuenta la historia de Mia (Emma Stone), una aspirante a actriz, y de Sebastian (Ryan Gosling), un dedicado cantante de Jazz, quienes luchan por destacarse en una ciudad conocida por destrozar esperanzas y quebrar corazones. En la Los Ángeles de hoy, esta película impregnada de música, explora la felicidad y las dificultades de perseguir los sueños. 

				  Esta película ha sido nominada a 7 Globos De Oro, entre ellos Mejor Película, Mejor Actor Y Mejor Actriz. Así mismo espera obtener importantes nominaciones en los próximos Óscar.
	
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(6)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/50.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">CINCUENTA SOMBRAS MÁS OSCURAS</div><br><br>

				<div id="trailer6" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/50.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto6">
				 Jamie Dornan y Dakota Johnson vuelven como Christian Grey y Anastasia Steele en CINCUENTA SOMBRAS MÁS OSCURAS, el segundo capítulo basado en el éxito de ventas mundial. La exitosa película de 2015 recaudó más de $560 millones a nivel mundial, la nueva entrega llegará a los cines de Colombia el 9 de Febrero de 2017 .
				 Cuando el herido Christian Grey intenta atraer a la cautelosa Ana Steele de nuevo en su vida, ella exige un nuevo acuerdo antes de darle otra oportunidad. Mientras los dos comienzan a construir la confianza y encontrar estabilidad, las figuras de la sombras del pasado de Christian empiezan a dar la vueltas a la pareja, empeñándose en destruir las esperanzas de un futuro juntos.	
				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(7)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/aro.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">EL ARO 3</div><br><br>

				<div id="trailer7" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/aro.mp4') }}" type="video/mp4">
					</video>
				</div>
					
				<div id="texto7">
				Un nuevo capítulo de la amada franquicia de terror EL ARO. Una mujer joven que se preocupa por su novio cuando él explora una subcultura oscura que rodea una misteriosa cinta de vídeo la cual dice que hay que matar, siete días después, a quién haya visto la cinta. Ella se sacrifica para salvar a su novio y al hacerlo, hace un descubrimiento horrible: hay una "película dentro de la película" que nadie ha visto nunca antes.

				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(8)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/batman.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">LEGO BATMAN</div><br><br>

				<div id="trailer8" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/batman.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto8">
				  Spin-off de "La LEGO Película", protagonizado por Batman.  </div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(9)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/resident.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">RESIDENT EVIL 6: CAPÍTULO FINAL</div><br><br>

				<div id="trailer9" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/resident.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto9">
				 Basado en la enormemente popular serie de videojuegos de Capcom, llega el episodio final de la franquicia cinematográfica de videojuegos más exitosa de la historia que ha recaudado más de US $1 mil millones alrededor del mundo a la fecha.
				 Inmediatamente después de los eventos narrados en Resident Evil: Retribution, Alice (Milla Jovovich) es la única sobreviviente de lo que se suponía  era la ofensiva final de la humanidad contra los no-muertos. Ahora ella debe regresar al lugar en el que comenzó la pesadilla  – The Hive en Raccoon City, donde la Corporación Umbrella reagrupa sus fuerzas para un golpe final contra los sobrevivientes restantes del apocalipsis.	
				</div>
			</div>

			<br>
			
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(10)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/rescate.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">RESCATE SUICIDA</div><br><br>

				<div id="trailer10" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/rescate.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto10">
				 Una historia sobre valentía, auto sacrificio y dignidad humana puesta en juicio por el poder despiadado de la naturaleza. Un joven piloto es despedido de la fuerza aérea militar después de desobedecer una orden absurda. Obtiene un trabajo como copiloto con una aerolínea civil. Siendo brutalmente honesto y directo, no está en mejores términos con sus nuevos colegas. Durante un vuelo a Asia su tripulación recibe un mensaje de socorro de una isla volcánica y toma la decisión de intentar una misión de rescate. ¿Será un éxito? ¿Sobrevivirán al desastre?

				</div>
			</div>

			<br-->

			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(11)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/mentes.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">DE-MENTES MAESTRAS</div><br><br>

				<div id="trailer11" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/mentes.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto11">
				Esta comedia de acción basada en hechos reales, David Ghantt (Zach Galifianakis) descubre el verdadero sentido de la aventura mucho más allá de sus sueños más salvajes. Él es un hombre sin complicaciones, atrapado en una vida monótona. Cada día conduce un vehículo blindado, transportando millones de dólares de otras personas, sin perspectiva de mejora a la vista. El único atisbo de emoción es su amor platónico, Kelly Campbell (Kristen Wiig), su compañera de trabajo, quien pronto le cambiará los esquemas de su vida.
				</div>
			</div>
			<br-->

			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(12)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/kubo.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">KUBO Y LA BÚSQUEDA SAMURÁI</div><br><br>

				<div id="trailer12" style="display:none;">
					<video style="width: 35vw; height: 22vw;" comontrols>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/kubo.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto12">
				El inteligente y bondadoso Kubo (voz en la versión original de Art Parkinson de la serie “Game of Thrones") se gana la vida contando historias fantásticas a los habitantes de un pequeño pueblo costero, entre los que están Hosato (George Takei), Akihiro (Cary-Hiroyuki Tagawa) y Kameyo (Brenda Vaccaro, nominada a un Oscar). Su tranquila vida cambia de golpe cuando, accidentalmente, invoca a un espíritu del pasado que regresa de los cielos decidido a llevar a cabo una venganza milenaria.
				Kubo no tiene más remedio que huir y unirse a Mono (voz de Charlize Theron) y a Escarabajo (voz de Matthew McConaughey) para salvar a su familia y así resolver el misterio que rodea la caída de su padre, el más grande de todos los samuráis que jamás haya existido. Con la ayuda de su shamisen, un instrumento mágico, Kubo se enfrenta a dioses y a monstruos, como el vengativo Rey Luna (Ralph Fiennes, nominado al Oscar) y las hermanas malvadas (voz de la nominada al Oscar, Rooney Mara), para descubrir el secreto de su legado, reunirse con su familia y cumplir su heroico destino.
				</div>
			</div-->

		</div>
			
			
				
		

	   
	