
		<a class="atras imagen" href="javascript:abrirInicio();"><img src="{{ asset('bundles/app/images/btn_atras.png') }}"/></a>

		<div class="cartelera-col1 imagen">
			<div class="titulo-vertical-icono"><img src="{{ asset('bundles/app/images/ico-cartelera.png') }}"/></div>
			<div class="cartelera-titulo-vertical">CARTELERA</div>
		</div>


		<div class="cartelera-col2">
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(1)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/mascotas.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">LA VIDA SECRETA DE TUS MASCOTAS</div><br><br>

				<div id="trailer1" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/mascotas.mp4') }}" type="video/mp4">
					</video>
				</div>

				<div id="texto1">
				Para su quinto largometraje totalmente animado, en colaboración de Illumination Entertainment y Universal Pictures presentan La Vida Secreta de tus Mascotas, una comedia sobre cómo es la vida de nuestras mascotas cada vez que salimos para el trabajo o la escuela todos los días.
				Con la participación de superestrellas de comedia como Louis CK, Eric Stonestreet y Kevin Hart quienes hacen su debut en un largometraje de animación con The Secret Life Of Pets, coprotagonizada por Ellie Kemper, Lake Bell, Jenny Slate, Bobby Moynihan, Aníbal Buress y Albert Brooks. El fundador y CEO de Illuminatiton Chris Meledandri y su antiguo colaborador Janet Healy producen la película, es dirigida por Chris Renaud (Mi Villano Favorito, Mi Villano Favorito 2), codirigida por Yarrow Cheney y escrita por Brian Lynch, Cinco Paul y Ken Daurio.
				</div>
							

			</div>

			<br>

			<div class="cartelera-texto flip2" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(2)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/amor.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">FRAGMENTOS DE AMOR</div><br><br>

				<div id="trailer2" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/amor.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto2"> Rodrigo (José Ángel Bichir), un afinador de pianos y en el pasado un brillante compositor, se enamora de Susana (Angélica Blandón), una sensual profesora de natación y escultora quien guarda un oscuro secreto en el sótano de su casa. La pasión que siente Rodrigo por Susana y más aún por las historias que noche tras noche ella le cuenta de sus amantes pasados, inspiran a Rodrigo a volver a componer. Pero pero el profundo dolor que siente al conocer los relatos de Susana, lo lleva al borde de la paranoia, a los celos obsesivos y a un miedo latente de convertirse en una más de sus historias.
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(3)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/escuadron.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">ESCUADRON SUICIDA</div><br><br>

				<div id="trailer3" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/escuadron.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto3">
				Se siente bien ser el malo… Formar un equipo integrado por los supervillanos encarcelados más peligrosos del mundo; armarlos con el arsenal más poderoso que el gobierno tiene disponible y enviarlos a una misión para vencer a una entidad insuperable y enigmática.
				Amanda Waller – Oficial de inteligencia estadunidense– decidió que únicamente un grupo secreto formado por individuos disparatados, despreciables y con nada que perder son la única opción. Sin embargo, cuando ellos se dan cuenta de que no fueron convocados con la idea de triunfar, sino por su obvia culpabilidad si fracasan… ¿Será que el Escuadrón Suicida decidirá morir en el intento o salvar cada quien su vida?
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(4)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/era.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">LA ERA DE HIELO: CHOQUE DE MUNDOS</div><br><br>

				<div id="trailer4" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/era.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto4">
				La épica persecución de Scrat de la escurridiza bellota, lo catapulta a un universo donde accidentalmente desata una serie de eventos cósmicos que transforman y amenazan al mundo de La Era de Hielo. Para salvarse, Sid, Manny, Diego y el resto de la manada deben abandonar su hogar y embarcarse en una búsqueda llena de comedia y aventura, viajando a tierras exóticas nuevas y encontrando una colección de coloridos nuevos personajes.				</div>
				</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(5)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/vaca.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">NO SE METAN CON MI VACA</div><br><br>

				<div id="trailer5" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/vaca.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto5">
				Fatah es un humilde campesino que solo tiene ojos para Jacqueline, su vaca. El sueño de llevarla al prestigioso show agrario de Paris parece imposible, pero cuando recibe una inesperada invitación deja su tierra por primera vez y se embarca en un viaje para atravesar Francia a pie. Entre inesperados encuentros y divertidas sorpresas, junto a Jacqueline vivirá una gran aventura que nunca se imaginó.				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(6)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/luces.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">CUANDO LAS LUCES SE APAGAN</div><br><br>

				<div id="trailer6" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/luces.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto6">
				Cuando Rebecca se fue de casa, creyó que dejaba sus miedos de la infancia atrás. Al crecer, nunca estuvo segura de distinguir lo que era real de lo que no cuando las luces se apagaban… Ahora, Martin, su hermano menor, vive los mismos acontecimientos inexplicables y terroríficos que amenazaron su salud mental y su integridad. Un ser espantoso con un misterioso vínculo a su madre, Sophie, ha vuelto a aparecer. Pero, en esta ocasión, Rebecca se empeña en revelar la verdad, a pesar de que las vidas de quienes la rodean se encuentran en peligro… cuando se apagan las luces.
				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(7)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/gigante.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4"> UN BUEN AMIGO GIGANTE</div><br><br>

				<div id="trailer7" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/gigante.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto7">
				Los talentos de tres de los creadores de historias más importantes del mundo —Roald Dahl, Walt Disney y Steven Spielberg— se unen finalmente para dar vida al querido clásico de Dahl, EL BUEN AMIGO GIGANTE. La película de Disney, dirigida por Spielberg, cuenta la imaginativa historia de una pequeña y del gigante que le muestra las maravillas y los peligros del País de los Gigantes.		</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(8)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/jason.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">JASON BOURNE</div><br><br>

				<div id="trailer8" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/jason.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto8">
				Paul Greengrass, director de La Supremacía Bourne y Bourne: El Ultimatum, dirige una vez más a Damon en 	este nuevo capítulo de la saga de Universal Pictures, en donde el letal agente de la CIA regresará desde las sombras.				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(9)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/novias.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">MIKE Y DAVE, LOS BUSCA NOVIAS</div><br><br>

				<div id="trailer9" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/novias.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto9">
				  Los parranderos hermanos Mike (Adam Devine) y Dave (Zac Efron) ponen un anuncio en internet para encontrar a las acompañantes perfectas (Anna Kendrick, Aubrey Plaza) para la boda hawaiana de su hermana. Esperando una loca aventura, los chicos reciben en cambio una sopa de su propio chocolate del incontrolable dúo.
				</div>
			</div>

			<br>
			
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(10)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/benhur.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">BEN-HUR</div><br><br>

				<div id="trailer10" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/benhur.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto10">
				Ben-Hur es la historia épica de Judá Ben-Hur (Jack Huston), un príncipe falsamente acusado de traición por su hermano adoptivo Messala (Toby Kebbell), un oficial del ejército romano. Despojado de su título, separado de su familia y de la mujer que ama (Nazanin Boniadi), Judá es esclavizado. Después de años en el mar, Judá regresa a su tierra natal para buscar venganza, pero encuentra la redención.
				</div>
			</div>

			<br>
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(11)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/DEADPOOL.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">DEADPOOL</div><br><br>

				<div id="trailer11" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/DEADPOOL.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto11">
				Basada en el antihéroe menos convencional de Marvel Comics, DEADPOOL cuenta la historia del origen del exagente de las Fuerzas Especiales convertido en mercenario Wade Wilson, quien después de estar sometido a un experimento no autorizado que lo deja con poderes de sanación acelerados, adopta el álter ego Deadpool. Armado con sus nuevas habilidades y un sentido del humor negro y retorcido, Deadpool caza al hombre que casi destruyó su vida.
				</div>
			</div>
			<br-->

			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(12)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/ZOOTOPIA.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">ZOOTOPIA</div><br><br>

				<div id="trailer12" style="display:none;">
					<video style="width: 35vw; height: 22vw;" comontrols>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/ZOOTOPIA.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto12">
				La moderna metrópolis mamífera de Zootopia es una ciudad como ninguna otra. Compuesta por distintos hábitats, tales como el lujoso Plaza Sahara y la indiferente Tundratown, es un crisol donde animales de cada ambiente conviven - un lugar donde sin importar lo que seas, desde el elefante más grande hasta el más pequeño insecto, puedes lograr lo que te propongas. Pero cuando llega la optimista Oficial Judy Hopps, descubre que ser el primer conejo en un escuadrón policial de animales grandes y rudos, no es tan fácil. Decidida a probarse a sí misma, aprovecha la oportunidad de resolver un caso, incluso si esto significa asociarse con un rápido hablador, artista y estafador zorro, Nick Wilde, para resolver el misterio.
				</div>
			</div-->

		</div>
			
			
				
		

	   
	