
		<a class="atras imagen" href="javascript:abrirInicio();"><img src="{{ asset('bundles/app/images/btn_atras.png') }}"/></a>

		<div class="cartelera-col1 imagen">
			<div class="titulo-vertical-icono"><img src="{{ asset('bundles/app/images/ico-cartelera.png') }}"/></div>
			<div class="cartelera-titulo-vertical">CARTELERA</div>
		</div>


		<div class="cartelera-col2">
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(1)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/MI-ABUELO-ES-UN-PELIGRO.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">MI ABUELO ES UN PELIGRO</div><br><br>

				<div id="trailer1" style="display:none;">
					<video style="width: 38vw; height: 25vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/MI-ABUELO-ES-UN-PELIGRO.mp4') }}" type="video/mp4">
					</video>
				</div>

				<div id="texto1">
					
					Un hombre, recientemente viudo y con muchas ganas de vivir, convence a su nieto para realizar un viaje por carretera a Florida. El nieto que, según su abuelo está a punto de casarse con la chica equivocada, descubrirá para su asombro, que el anciano está más loco de lo que pensaba y que a diferencia de él, no tiene ningún reparo a la hora de ligar con las chicas.
				</div>
			

			</div>

			<br>
			<div class="cartelera-texto flip2" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(2)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/MAD-MAX-FURIA-EN-EL-CAMINO.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">MAD MAX: FURIA EN EL CAMINO</div><br><br>

				<div id="trailer2" style="display:none;">
					<video style="width: 38vw; height: 25vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/MAD-MAX-FURIA-EN-EL-CAMINO.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto2">La película de acción post-apocalíptica se encuentra en los confines de nuestro planeta, en un paisaje austero del desierto, donde se divide la humanidad, y casi todo el mundo está enloquecido luchando por las necesidades de sus vidas. Dentro de este mundo de fuego y sangre existen solo dos rebeldes en fuga capaces de restaurar el orden: Max y furiosa..
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(3)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/DIOSES-DE-EGIPTO.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">DIOSES DE EGIPTO</div><br><br>

				<div id="trailer3" style="display:none;">
					<video style="width: 38vw; height: 25vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/DIOSES-DE-EGIPTO.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto3">
				La supervivencia de la humanidad pende de un hilo y un astuto ladrón [Brenton Thwaites] deberá emprender un peligroso viaje para salvar al mundo y rescatar a su verdadero amor de la muerte. Para tener éxito, tendrá que aliarse con el dios Horus [Nikolaj Coster-Waldau] y detener al despiadado dios del desierto [Gerard Butler], que ha usurpado el trono de Egipto sumiendo al imperio en el caos y el conflicto. Esta batalla se librará en la otra vida y a través de los cielos y tanto dioses como mortales deberán pasar pruebas de coraje y sacrificio si quieren prevalecer en la épica confrontación final.
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(4)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/CÓMO-SER-SOLTERA.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">CÓMO SER SOLTERA</div><br><br>

				<div id="trailer4" style="display:none;">
					<video style="width: 38vw; height: 25vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/CÓMO-SER-SOLTERA.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto4">
				Hay una forma correcta de ser soltero o soltera, una forma equivocada… y otra al estilo de Alice, Robin, Lucy, Meg, Tom y David. La ciudad de Nueva York está llena de corazones solitarios buscando a su media naranja, ya sea para compartir su amor, para aventurar o para algo entre  las dos cosas. Y en algún lugar, entre las conversaciones sugerentes y los romances de una noche, lo que estos solteros y solteras tienen en común es la necesidad de saber cómo ser solteros en un mundo lleno de definiciones del amor en continua evolución.
				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(5)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/abrazo-serpiente.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">EL ABRAZO DE LA SERPIENTE</div><br><br>

				<div id="trailer5" style="display:none;">
					<video style="width: 38vw; height: 25vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/abrazo-serpiente.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto5">
				EL ABRAZO DE LA SERPIENTE cuenta la épica historia del primer contacto, encuentro, acercamiento, traición, y posible amistad que trasciende la vida, entre Karamakate, un Chamán Amazónico, último sobreviviente de su tribu, y dos científicos que con cuarenta años de diferencia, recorren el Amazonas en busca de una planta sagrada que podría curar sus males. Inspirada en los diarios de los primeros exploradores que recorrieron la Amazonía Colombiana, Theodor Koch-Grunberg y Richard Evan Schultes.
				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(6)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/LA-SEMILLA-DEL-SILENCIO.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">LA SEMILLA DEL SILENCIO</div><br><br>

				<div id="trailer6" style="display:none;">
					<video style="width: 38vw; height: 25vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/LA-SEMILLA-DEL-SILENCIO.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto6">
				María del Rosario Durán, una fiscal de derechos humanos que investiga la complicidad de un importante miembro de las Fuerzas Armadas en un caso de corrupción militar, es amenazada de muerte. El detective Jorge Salcedo, que trabaja con ella en el caso, se lanza a la tarea de descubrir quién está detrás de esta conspiración, corriendo el riesgo de convertirse en la próxima víctima.
				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(7)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/13-HORAS.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">13 HORAS: LOS SOLDADOS SECRETOS DE BENGAS</div><br><br>

				<div id="trailer7" style="display:none;">
					<video style="width: 38vw; height: 25vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/13-HORAS.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto7">
				Se basa en la historia real narrada en el libro homónimo de Mitchell Zuckoff. El 11 de septiembre de 2012 se produjo un asalto al consulado estadounidense en Bengasi que acabó con la muerte del embajador; la película se centra en un grupo de soldados norteamericanos que intentaron proteger a los suyos en aquel lugar.
				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(8)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/DRAGON-NEST.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">DRAGON NEST: GUERRERO DEL AMANECER</div><br><br>

				<div id="trailer8" style="display:none;">
					<video style="width: 38vw; height: 25vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/DRAGON-NEST.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto8">
				La tierra de Altera ha vivido en inquietante paz por años, entre humanos, elfos y bestias malvadas, quienes son leales al legendario Dragón Negro. Cuando el dragón comienza a despertar de su hibernación envía a las bestias a marchar. Bajo la amenaza de una conquista del mal, un grupo de humanos y elfos se une para encontrar el camino secreto del dragón y destruirlo. Pero el destino de todos estará en Lambert, un joven guerrero quien deberá reunir valentía para enfrentarse al dragón cara a cara.
				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(9)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/PREMONICIONES.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">PREMONICIONES, EN LA MENTE DEL ASESINO</div><br><br>

				<div id="trailer9" style="display:none;">
					<video style="width: 38vw; height: 25vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/PREMONICIONES.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto9">
				La película cuenta la historia de un detective del FBI al que le llega un horrible caso: varias personas han sido asesinadas de una forma espantosa, y desconoce quién puede ser el asesino. Para intentar resolverlo, pide ayuda a un médico especialista ya retirado, alejado del mundo después de la muerte de su hija. El detective tendrá que convencerle para que vuelva al cuerpo activo, aunque solo sea hasta que se resuelve el caso.
				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(10)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/el-renacido.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">EL RENACIDO</div><br><br>

				<div id="trailer10" style="display:none;">
					<video style="width: 38vw; height: 25vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/el-renacido.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto10">
				Inspirada por hechos reales, REVENANT: EL RENACIDO es una experiencia cinematográfica visceral de sumergimiento capturando la aventura épica de supervivencia de un hombre y el extraordinario poder del espíritu humano. En una expedición a las tierras salvajes inexploradas estadounidenses, el legendario explorador Hugh Glass (Leonardo DiCaprio) es brutalmente atacado por un oso y dejado por muerto por los miembros de su propio equipo de cacería. En una búsqueda por sobrevivir, Glass padece penurias inimaginables así como la traición de su confidente John Fitzgerald (Tom Hardy). Guiado por la voluntad y el amor de su familia, Glass debe navegar a través de un invierno brutal en una búsqueda incansable para vivir y encontrar la redención. THE REVENANT está dirigida y coescrita por el reconocido cineasta y ganador del Óscar Alejandro González Iñárritu (Birdman, Babel).
				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(11)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/DEADPOOL.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">DEADPOOL</div><br><br>

				<div id="trailer11" style="display:none;">
					<video style="width: 38vw; height: 25vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/DEADPOOL.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto11">
				Basada en el antihéroe menos convencional de Marvel Comics, DEADPOOL cuenta la historia del origen del exagente de las Fuerzas Especiales convertido en mercenario Wade Wilson, quien después de estar sometido a un experimento no autorizado que lo deja con poderes de sanación acelerados, adopta el álter ego Deadpool. Armado con sus nuevas habilidades y un sentido del humor negro y retorcido, Deadpool caza al hombre que casi destruyó su vida.
				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(12)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/ZOOTOPIA.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">ZOOTOPIA</div><br><br>

				<div id="trailer12" style="display:none;">
					<video style="width: 38vw; height: 25vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/ZOOTOPIA.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto12">
				La moderna metrópolis mamífera de Zootopia es una ciudad como ninguna otra. Compuesta por distintos hábitats, tales como el lujoso Plaza Sahara y la indiferente Tundratown, es un crisol donde animales de cada ambiente conviven - un lugar donde sin importar lo que seas, desde el elefante más grande hasta el más pequeño insecto, puedes lograr lo que te propongas. Pero cuando llega la optimista Oficial Judy Hopps, descubre que ser el primer conejo en un escuadrón policial de animales grandes y rudos, no es tan fácil. Decidida a probarse a sí misma, aprovecha la oportunidad de resolver un caso, incluso si esto significa asociarse con un rápido hablador, artista y estafador zorro, Nick Wilde, para resolver el misterio.
				</div>
			</div>
			
			
				
		

	   
	