
		<a class="atras imagen" href="javascript:abrirInicio();"><img src="{{ asset('bundles/app/images/btn_atras.png') }}"/></a>

		<div class="cartelera-col1 imagen">
			<div class="titulo-vertical-icono"><img src="{{ asset('bundles/app/images/ico-cartelera.png') }}"/></div>
			<div class="cartelera-titulo-vertical">CARTELERA</div>
		</div>


		<div class="cartelera-col2">
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(1)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/doctor.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">DOCTOR STRANGE: HECHICERO SUPREMO</div><br><br>

				<div id="trailer1" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/doctor.mp4') }}" type="video/mp4">
					</video>
				</div>
				<div id="texto1">
				  DOCTOR STRANGE sigue la historia del neurocirujano Stephen Strange quien, tras un terrible accidente automovilístico, descubre el mundo oculto de la magia y las dimensiones alternativas.
				</div>
							

			</div>

			<br>

			<div class="cartelera-texto flip2" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(2)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/animales.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">ANIMALES FANTÁSTICOS Y DÓNDE ENCONTRARLOS</div><br><br>

				<div id="trailer2" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/animales.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto2">La historia inicia en 1926, cuando el magizoólogo Newt Scamander recién concluye una excursión por el mundo para encontrar y documentar la extraordinaria variedad de criaturas mágicas.
				Llega a la ciudad de Nueva York con la intención de hacer una breve parada y salir sin tener ningún incidente… de no ser por Jacob, un no-maj (el equivalente estadounidense de los muggles), un caso de uso inadecuado de magia y la fuga de algunos de los animales fantásticos de Newt que pueden causar varios problemas para ambos mundos: el mágico y el no-maj.
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(3)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/guerra.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">INFRAMUNDO: GUERRA DE SANGRE</div><br><br>

				<div id="trailer3" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/guerra.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto3">
				 La siguiente película de la exitosa franquicia INFRAMUNDO GUERRAS DE SANGRE sigue a Selene. La vendedora de muerte de los Vampiros, Selene (Kate Beckinsale) se defiende de ataques brutales de los dos clanes, el de los Lycans y el de los Vampiros que la traicionaron. Con sus únicos aliados, David (Theo James) y Thomas su padre (Charles Dance), ella debe  detener la guerra eterna entre Vampiros y Lycans, aunque signifique tener que hacer un último sacrificio.
				</div>
			</div>


			<br>
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(4)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/trolls.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">TROLLS</div><br><br>

				<div id="trailer4" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/trolls.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto4">
				De los creadores de Shrek llega la comedia animada más inteligente, graciosa e irreverente del año, Trolls de DreamWorks. Esta temporada, entra al mundo maravilloso y colorido poblado por personajes inolvidablemente graciosos y descubre la historia de los exageradamente optimistas Trolls, con una canción constante en sus labios, y los cómicamente pesimistas Bergens, que sólo están contentos cuando tienen trolls en sus estómagos.

				Con música original de Justin Timberlake, la película cuenta con los talentos de voz de Anna Kendrick, Justin Timberlake, Christopher Mintz-Plasse, Russell Brand, Zooey Deschanel, Jeffrey Tambor, Christine Baranski, James Corden, Kunal Nayyar, Ron Funches, Icona Pop, Quvenzhané Wallis, con John Cleese y Gwen Stefani. 

				</div>
			</div>

			<br-->
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(5)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/agente.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">AGENTE ÑERO ÑERO 7</div><br><br>

				<div id="trailer5" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/agente.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto5">
				  Cuando una crisis nacional estalla al ser secuestrado un prestigioso científico nuclear, la Agencia Central, el servicio de agentes secretos más profesional del país, encarga a sus mejores hombres para evitar un desastre. Ejem… Bueno… tal vez solo a uno de los mejores y a otro… que simplemente estaba disponible.  Iniciará así una disparatada aventura en la que Thompson y Rogelio deberán dejar a un lado sus diferencias para vencer a Máximo Lora, el enemigo más charlatán y aspirante a coach que pueden encontrar en el mundillo criminal y empresarial. Entre la ñerada de Rogelio y la sofisticación de Thompson, surgirá una amistad a prueba de balas, que los llevará a terminar con la temida empresa criminal de Máximo y con esto iniciará la fulgurante carrera del Agente R: El ñero-ñero siete.
				</div>
			</div>


			<br>
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(6)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/jack.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">JACK REACHER: SIN REGRESO</div><br><br>

				<div id="trailer6" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/jack.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto6">
				 Jack Reacher (Tom Cruise) regresa con su marca particular de la justicia en la esperada secuela Jack Reacher: Sin Regreso. La mayor Susan Turner (Cobie Smulders) es la comandante del  ejército que dirige la antigua unidad de investigación de Reacher. Ella es arrestada por traición, y sabiendo que es inocente, Reacher deberá sacarla de prisión y destapar la verdad detrás de una gran conspiración del gobierno con el fin de limpiar sus nombres y salvar sus vidas. En la carrera como fugitivos de la ley, Reacher descubre un secreto de su pasado potencial que podría cambiar su vida para siempre. Basado en JACK REACHER: NEVER GO BACK que ha tenido cerca de 100 millones de libros vendidos en todo el mundo, la novela en el puesto 18 de las más vendidas de la serie de Jack Reacher, del autor Lee Child. 
				</div>
			</div>

			<br-->
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(7)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/moana.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">MOANA: UN MAR DE AVENTURAS</div><br><br>

				<div id="trailer7" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/moana.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto7">
				MOANA es una aventurera, tenaz y compasiva adolescente de 16 años que se embarca en una audaz misión para salvar a su pueblo. En su camino, descubre aquello que siempre buscó: su propia identidad.
				Durante la travesía se encontrará con el alguna vez todopoderoso semidiós Maui (voz original, en inglés, de Dwayne Johnson) y juntos atravesarán el océano en un viaje lleno de acción, en el que se encontrarán con enormes y feroces criaturas e imposibles desafíos.

				</div>
			</div>

			<br>
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(8)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/dragon.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">MI AMIGO EL DRAGON</div><br><br>

				<div id="trailer8" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/dragon.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto8">
				  MI AMIGO EL DRAGÓN, una nueva versión de la querida película familiar de Disney, cuenta la aventura de un niño huérfano llamado Pete y su mejor amigo, Elliott, que da la casualidad es un dragón.Durante años, el Sr. Meacham (Robert Redford), un viejo tallador de madera, ha maravillado a los niños locales con sus historias del feroz dragón que vive en las profundidades del bosque en la región del noroeste del Pacífico. Para su hija, Grace (Bryce Dallas Howard), que trabaja como guardabosques, estas historias son apenas relatos fantásticos… hasta que conoce a Pete (Oakes Fegley). Pete es un niño misterioso de 10 años, sin familia ni hogar. Dice vivir en el bosque con un dragón verde gigante llamado Elliott y por las descripciones de Pete, Elliott parece ser notablemente similar al dragón de las historias del Sr. Meacham.</div>
			</div>

			<br-->
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(9)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/respires.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">NO RESPIRES</div><br><br>

				<div id="trailer9" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/respires.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto9">
				  Tres ladrones jóvenes invaden la casa de un ciego muy rico, se trata de adolescentes que buscan propiedades vulnerables en la ciudad de Detroit mientras intentan recolectar todo el dinero en efectivo que puedan para escapar del área y comenzar una nueva vida en algún otro sitio. Sin embargo, una vez que han invadido la casa del ciego, las cosas dan un giro de 180 grados.
				</div>
			</div>

			<br-->
			
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(10)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/contador.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">EL CONTADOR</div><br><br>

				<div id="trailer10" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/contador.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto10">
				 Christian Wolff (Ben Affleck) es un contable y genio matemático, un hombre obsesivo con el orden y con mucha más afinidad con los números que con las personas, que lleva una doble vida como asesino despiadado.
				</div>
			</div>

			<br-->

			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(11)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/mentes.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">DE-MENTES MAESTRAS</div><br><br>

				<div id="trailer11" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/mentes.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto11">
				Esta comedia de acción basada en hechos reales, David Ghantt (Zach Galifianakis) descubre el verdadero sentido de la aventura mucho más allá de sus sueños más salvajes. Él es un hombre sin complicaciones, atrapado en una vida monótona. Cada día conduce un vehículo blindado, transportando millones de dólares de otras personas, sin perspectiva de mejora a la vista. El único atisbo de emoción es su amor platónico, Kelly Campbell (Kristen Wiig), su compañera de trabajo, quien pronto le cambiará los esquemas de su vida.
				</div>
			</div>
			<br-->

			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(12)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/kubo.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">KUBO Y LA BÚSQUEDA SAMURÁI</div><br><br>

				<div id="trailer12" style="display:none;">
					<video style="width: 35vw; height: 22vw;" comontrols>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/kubo.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto12">
				El inteligente y bondadoso Kubo (voz en la versión original de Art Parkinson de la serie “Game of Thrones") se gana la vida contando historias fantásticas a los habitantes de un pequeño pueblo costero, entre los que están Hosato (George Takei), Akihiro (Cary-Hiroyuki Tagawa) y Kameyo (Brenda Vaccaro, nominada a un Oscar). Su tranquila vida cambia de golpe cuando, accidentalmente, invoca a un espíritu del pasado que regresa de los cielos decidido a llevar a cabo una venganza milenaria.
				Kubo no tiene más remedio que huir y unirse a Mono (voz de Charlize Theron) y a Escarabajo (voz de Matthew McConaughey) para salvar a su familia y así resolver el misterio que rodea la caída de su padre, el más grande de todos los samuráis que jamás haya existido. Con la ayuda de su shamisen, un instrumento mágico, Kubo se enfrenta a dioses y a monstruos, como el vengativo Rey Luna (Ralph Fiennes, nominado al Oscar) y las hermanas malvadas (voz de la nominada al Oscar, Rooney Mara), para descubrir el secreto de su legado, reunirse con su familia y cumplir su heroico destino.
				</div>
			</div-->

		</div>
			
			
				
		

	   
	