
		<a class="atras imagen" href="javascript:abrirInicio();"><img src="{{ asset('bundles/app/images/btn_atras.png') }}"/></a>

		<div class="cartelera-col1 imagen">
			<div class="titulo-vertical-icono"><img src="{{ asset('bundles/app/images/ico-cartelera.png') }}"/></div>
			<div class="cartelera-titulo-vertical">CARTELERA</div>
		</div>


		<div class="cartelera-col2">
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(1)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/power.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">POWER RANGERS</div><br><br>

				<div id="trailer1" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/power.mp4') }}" type="video/mp4">
					</video>
				</div>
				<div id="texto1">
				 La película sigue a cinco ordinarios jóvenes en la preparatoria que tienen que convertirse en algo extraordinario cuando descubren que su modesto poblado de Angel Grove –y el resto del mundo– está al borde de la aniquilación por una amenaza alienígena. Elegidos por el destino, nuestros héroes descubren rápidamente que son los únicos que pueden salvar al planeta. Pero para lograrlo tendrán que superar problemas de la vida real y unirse como los Power Rangers antes de que sea demasiado tarde.
				</div>
							

			</div>

			<br>

			<div class="cartelera-texto flip2" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(2)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/pitufos.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">LOS PITUFOS EN LA ALDEA PERDIDA</div><br><br>

				<div id="trailer2" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/pitufos.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto2">Los Pitufos en la Aldea Perdida nos cuenta cómo Pitufina y sus hermanos recorren un desconocido bosque encantado para tratar de descubrir un pueblo de fábula de Pitufos antes que su némesis, el malvado mago Gargamel, lo haga. En el camino, algunos de los misterios en los orígenes de las pequeñas criaturas azules salen a la luz: ¿Por qué los Pitufos no vienen en otros colores? ¿Son sus casas de hongos orgánicos? y ¿por qué hay 99 niños y solamente una niña?
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(3)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/bella.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">LA BELLA Y LA BESTIA</div><br><br>

				<div id="trailer3" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/bella.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto3">
				LA BELLA Y LA BESTIA, de Disney, es una adaptación de acción real de la película animada, que revive a los queridos personajes del clásico cuento de Disney para una audiencia contemporánea, manteniendo la música original e incorporando varias nuevas canciones. Dirigida por el ganador del Oscar® Bill Condon y basada en la película animada homónima de 1991, el guion pertenece a Evan Spiliotopoulos, Bill Condon y Stephen Chbosky, y cuenta con la producción de David Hoberman y Todd Lieberman, de Mandeville Films.
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(4)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/golpe.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">UN GOLPE CON ESTILO</div><br><br>

				<div id="trailer4" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/golpe.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto4">
				Tres jubilados a los que el sistema les ha quitado el plan de pensiones planean atracar un banco para recuperar su dinero.

				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(5)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/pañales.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">UN JEFE EN PAÑALES</div><br><br>

				<div id="trailer5" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/pañales.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto5">
				  Conoce al bebé más inusual. Usa traje, habla con la voz e ingenio de Alec Baldwin. Un Jefe en Pañales es una historia universal e hilarante acerca de cómo la llegada de un nuevo bebé impacta a una familia, contada desde la perspectiva de un narrador poco fiable, pero encantador: Tim, un niño de siete años, de mente desenfrenada e imaginativa. Con un mensaje pícaro, pero conmovedor, acerca de la importancia de la familia.
	
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(6)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/cabaña.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">LA CABAÑA</div><br><br>

				<div id="trailer6" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/cabaña.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto6">
				 Después de sufrir una tragedia familiar, Mack Phillips (Sam Worthington) cae en una profunda depresión que lo lleva a cuestionarse sus creencias más profundas. Dudando de su fe, recibe una misteriosa carta que lo cita en una cabaña abandonada en la profundidad de los bosques de Oregon. A pesar de sus dudas, Mack va a la cabaña y se encuentra con un enigmático trío de extraños dirigido por una mujer llamada Papa (Octavia Spencer). A través de esta reunión, Mack descubre importantes revelaciones que transformarán su percepción de la tragedia y cambiarán su vida para siempre.
				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(7)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/futuro.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">VIGILANTE DEL FUTURO</div><br><br>

				<div id="trailer7" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/futuro.mp4') }}" type="video/mp4">
					</video>
				</div>
					
				<div id="texto7">
				Un nuevo capítulo de la amada franquicia de terror EL ARO. Una mujer joven que se preocupa por su novio cuando él explora una subcultura oscura que rodea una misteriosa cinta de vídeo la cual dice que hay que matar, siete días después, a quién haya visto la cinta. Ella se sacrifica para salvar a su novio y al hacerlo, hace un descubrimiento horrible: hay una "película dentro de la película" que nadie ha visto nunca antes.

				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(8)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/casa.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">CASA POR CÁRCEL</div><br><br>

				<div id="trailer8" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/casa.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto8">
				  Ethan es un exitoso hombre de negocios y un amante encantador, pero la glamurosa vida que lleva con su despampanante novia se viene abajo cuando es capturado por portar dólares falsos. ¿La condena que le impone la justicia? Peor que cualquier prisión: ¡casa por cárcel donde su ex mujer! 5 años y un día deberá soportar bajo el mismo techo con su ex, sus hijos y su novia, a quien le aprobaron las visitas conyugales, mientras la casa se convierte en un campo de batalla por quedarse con su amor, y claro, con todo su dinero. Casa por cárcel es una divertida comedia donde ninguna artimaña se queda por fuera, porque en la guerra y en el amor (y en la cuenta del banco) todo se vale.  </div>
			</div>

			<br>
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(9)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/resident.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">RESIDENT EVIL 6: CAPÍTULO FINAL</div><br><br>

				<div id="trailer9" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/resident.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto9">
				 Basado en la enormemente popular serie de videojuegos de Capcom, llega el episodio final de la franquicia cinematográfica de videojuegos más exitosa de la historia que ha recaudado más de US $1 mil millones alrededor del mundo a la fecha.
				 Inmediatamente después de los eventos narrados en Resident Evil: Retribution, Alice (Milla Jovovich) es la única sobreviviente de lo que se suponía  era la ofensiva final de la humanidad contra los no-muertos. Ahora ella debe regresar al lugar en el que comenzó la pesadilla  – The Hive en Raccoon City, donde la Corporación Umbrella reagrupa sus fuerzas para un golpe final contra los sobrevivientes restantes del apocalipsis.	
				</div>
			</div>

			<br-->
			
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(10)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/rescate.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">RESCATE SUICIDA</div><br><br>

				<div id="trailer10" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/rescate.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto10">
				 Una historia sobre valentía, auto sacrificio y dignidad humana puesta en juicio por el poder despiadado de la naturaleza. Un joven piloto es despedido de la fuerza aérea militar después de desobedecer una orden absurda. Obtiene un trabajo como copiloto con una aerolínea civil. Siendo brutalmente honesto y directo, no está en mejores términos con sus nuevos colegas. Durante un vuelo a Asia su tripulación recibe un mensaje de socorro de una isla volcánica y toma la decisión de intentar una misión de rescate. ¿Será un éxito? ¿Sobrevivirán al desastre?

				</div>
			</div>

			<br-->

			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(11)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/mentes.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">DE-MENTES MAESTRAS</div><br><br>

				<div id="trailer11" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/mentes.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto11">
				Esta comedia de acción basada en hechos reales, David Ghantt (Zach Galifianakis) descubre el verdadero sentido de la aventura mucho más allá de sus sueños más salvajes. Él es un hombre sin complicaciones, atrapado en una vida monótona. Cada día conduce un vehículo blindado, transportando millones de dólares de otras personas, sin perspectiva de mejora a la vista. El único atisbo de emoción es su amor platónico, Kelly Campbell (Kristen Wiig), su compañera de trabajo, quien pronto le cambiará los esquemas de su vida.
				</div>
			</div>
			<br-->

			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(12)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/kubo.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">KUBO Y LA BÚSQUEDA SAMURÁI</div><br><br>

				<div id="trailer12" style="display:none;">
					<video style="width: 35vw; height: 22vw;" comontrols>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/kubo.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto12">
				El inteligente y bondadoso Kubo (voz en la versión original de Art Parkinson de la serie “Game of Thrones") se gana la vida contando historias fantásticas a los habitantes de un pequeño pueblo costero, entre los que están Hosato (George Takei), Akihiro (Cary-Hiroyuki Tagawa) y Kameyo (Brenda Vaccaro, nominada a un Oscar). Su tranquila vida cambia de golpe cuando, accidentalmente, invoca a un espíritu del pasado que regresa de los cielos decidido a llevar a cabo una venganza milenaria.
				Kubo no tiene más remedio que huir y unirse a Mono (voz de Charlize Theron) y a Escarabajo (voz de Matthew McConaughey) para salvar a su familia y así resolver el misterio que rodea la caída de su padre, el más grande de todos los samuráis que jamás haya existido. Con la ayuda de su shamisen, un instrumento mágico, Kubo se enfrenta a dioses y a monstruos, como el vengativo Rey Luna (Ralph Fiennes, nominado al Oscar) y las hermanas malvadas (voz de la nominada al Oscar, Rooney Mara), para descubrir el secreto de su legado, reunirse con su familia y cumplir su heroico destino.
				</div>
			</div-->

		</div>
			
			
				
		

	   
	