
		<a class="atras imagen" href="javascript:abrirInicio();"><img src="{{ asset('bundles/app/images/btn_atras.png') }}"/></a>

		<div class="cartelera-col1 imagen">
			<div class="titulo-vertical-icono"><img src="{{ asset('bundles/app/images/ico-cartelera.png') }}"/></div>
			<div class="cartelera-titulo-vertical">CARTELERA</div>
		</div>


		<div class="cartelera-col2">
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(1)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/power.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">POWER RANGERS</div><br><br>

				<div id="trailer1" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/power.mp4') }}" type="video/mp4">
					</video>
				</div>
				<div id="texto1">
				 La película sigue a cinco ordinarios jóvenes en la preparatoria que tienen que convertirse en algo extraordinario cuando descubren que su modesto poblado de Angel Grove –y el resto del mundo– está al borde de la aniquilación por una amenaza alienígena. Elegidos por el destino, nuestros héroes descubren rápidamente que son los únicos que pueden salvar al planeta. Pero para lograrlo tendrán que superar problemas de la vida real y unirse como los Power Rangers antes de que sea demasiado tarde.
				</div>
							

			</div>

			<br>

			<div class="cartelera-texto flip2" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(2)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/logan.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">LOGAN</div><br><br>

				<div id="trailer2" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/logan.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto2">Sin sus poderes, por primera vez, Wolverine es verdaderamente vulnerable. Después de una vida de dolor y angustia, sin rumbo y perdido en el mundo donde los X-Men son leyenda, su mentor Charles Xavier lo convence de asumir una última misión: proteger a una joven que será la única esperanza para la raza mutante.
				Una poderosa, dramática historia emocional que nos mostrará la leyenda como nunca antes la habíamos visto.
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(3)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/bella.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">LA BELLA Y LA BESTIA</div><br><br>

				<div id="trailer3" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/bella.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto3">
				LA BELLA Y LA BESTIA, de Disney, es una adaptación de acción real de la película animada, que revive a los queridos personajes del clásico cuento de Disney para una audiencia contemporánea, manteniendo la música original e incorporando varias nuevas canciones. Dirigida por el ganador del Oscar® Bill Condon y basada en la película animada homónima de 1991, el guion pertenece a Evan Spiliotopoulos, Bill Condon y Stephen Chbosky, y cuenta con la producción de David Hoberman y Todd Lieberman, de Mandeville Films.
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(4)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/life.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">LIFE: VIDA INTELIGENTE</div><br><br>

				<div id="trailer4" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/life.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto4">
				VIDA INTELIGENTE narra la historia de los seis miembros de la tripulación de la Estación Espacial Internacional que están a punto de lograr uno de los descubrimientos más importantes en la historia humana: la primera evidencia de vida extraterrestre en Marte. A medida que el equipo comienza a investigar y sus métodos tienen consecuencias inesperadas, la forma viviente demostrará ser más inteligente de lo que cualquiera esperaba.  

				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(5)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/perros.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">PERROS</div><br><br>

				<div id="trailer5" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/perros.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto5">
				  Misael cae en la cárcel de su pueblo por un crimen pasional. Durante su encierro, es abusado y humillado por los guardias y reos también culpado y olvidado por sus seres queridos. Misael, en su soledad y abandono, encuentra cariño y ternura en Sarna, la perra del penitenciario.
	
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(6)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/kong.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">KONG: LA ISLA CALAVERA</div><br><br>

				<div id="trailer6" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/kong.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto6">
				 Un diverso equipo de exploradores es reunido para aventurarse en el interior de una isla del Pacífico —tan bella como traicionera— que no aparece en los mapas, sin saber que están invadiendo los dominios del mítico King Kong.
				</div>
			</div>

			<br>
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(7)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/aro.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">EL ARO 3</div><br><br>

				<div id="trailer7" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/aro.mp4') }}" type="video/mp4">
					</video>
				</div>
					
				<div id="texto7">
				Un nuevo capítulo de la amada franquicia de terror EL ARO. Una mujer joven que se preocupa por su novio cuando él explora una subcultura oscura que rodea una misteriosa cinta de vídeo la cual dice que hay que matar, siete días después, a quién haya visto la cinta. Ella se sacrifica para salvar a su novio y al hacerlo, hace un descubrimiento horrible: hay una "película dentro de la película" que nadie ha visto nunca antes.

				</div>
			</div>

			<br-->
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(8)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/batman.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">LEGO BATMAN</div><br><br>

				<div id="trailer8" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/batman.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto8">
				  Spin-off de "La LEGO Película", protagonizado por Batman.  </div>
			</div>

			<br-->
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(9)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/resident.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">RESIDENT EVIL 6: CAPÍTULO FINAL</div><br><br>

				<div id="trailer9" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/resident.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto9">
				 Basado en la enormemente popular serie de videojuegos de Capcom, llega el episodio final de la franquicia cinematográfica de videojuegos más exitosa de la historia que ha recaudado más de US $1 mil millones alrededor del mundo a la fecha.
				 Inmediatamente después de los eventos narrados en Resident Evil: Retribution, Alice (Milla Jovovich) es la única sobreviviente de lo que se suponía  era la ofensiva final de la humanidad contra los no-muertos. Ahora ella debe regresar al lugar en el que comenzó la pesadilla  – The Hive en Raccoon City, donde la Corporación Umbrella reagrupa sus fuerzas para un golpe final contra los sobrevivientes restantes del apocalipsis.	
				</div>
			</div>

			<br-->
			
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(10)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/rescate.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">RESCATE SUICIDA</div><br><br>

				<div id="trailer10" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/rescate.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto10">
				 Una historia sobre valentía, auto sacrificio y dignidad humana puesta en juicio por el poder despiadado de la naturaleza. Un joven piloto es despedido de la fuerza aérea militar después de desobedecer una orden absurda. Obtiene un trabajo como copiloto con una aerolínea civil. Siendo brutalmente honesto y directo, no está en mejores términos con sus nuevos colegas. Durante un vuelo a Asia su tripulación recibe un mensaje de socorro de una isla volcánica y toma la decisión de intentar una misión de rescate. ¿Será un éxito? ¿Sobrevivirán al desastre?

				</div>
			</div>

			<br-->

			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(11)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/mentes.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">DE-MENTES MAESTRAS</div><br><br>

				<div id="trailer11" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/mentes.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto11">
				Esta comedia de acción basada en hechos reales, David Ghantt (Zach Galifianakis) descubre el verdadero sentido de la aventura mucho más allá de sus sueños más salvajes. Él es un hombre sin complicaciones, atrapado en una vida monótona. Cada día conduce un vehículo blindado, transportando millones de dólares de otras personas, sin perspectiva de mejora a la vista. El único atisbo de emoción es su amor platónico, Kelly Campbell (Kristen Wiig), su compañera de trabajo, quien pronto le cambiará los esquemas de su vida.
				</div>
			</div>
			<br-->

			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(12)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/kubo.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">KUBO Y LA BÚSQUEDA SAMURÁI</div><br><br>

				<div id="trailer12" style="display:none;">
					<video style="width: 35vw; height: 22vw;" comontrols>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/kubo.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto12">
				El inteligente y bondadoso Kubo (voz en la versión original de Art Parkinson de la serie “Game of Thrones") se gana la vida contando historias fantásticas a los habitantes de un pequeño pueblo costero, entre los que están Hosato (George Takei), Akihiro (Cary-Hiroyuki Tagawa) y Kameyo (Brenda Vaccaro, nominada a un Oscar). Su tranquila vida cambia de golpe cuando, accidentalmente, invoca a un espíritu del pasado que regresa de los cielos decidido a llevar a cabo una venganza milenaria.
				Kubo no tiene más remedio que huir y unirse a Mono (voz de Charlize Theron) y a Escarabajo (voz de Matthew McConaughey) para salvar a su familia y así resolver el misterio que rodea la caída de su padre, el más grande de todos los samuráis que jamás haya existido. Con la ayuda de su shamisen, un instrumento mágico, Kubo se enfrenta a dioses y a monstruos, como el vengativo Rey Luna (Ralph Fiennes, nominado al Oscar) y las hermanas malvadas (voz de la nominada al Oscar, Rooney Mara), para descubrir el secreto de su legado, reunirse con su familia y cumplir su heroico destino.
				</div>
			</div-->

		</div>
			
			
				
		

	   
	