
		<a class="atras imagen" href="javascript:abrirInicio();"><img src="{{ asset('bundles/app/images/btn_atras.png') }}"/></a>

		<div class="cartelera-col1 imagen">
			<div class="titulo-vertical-icono"><img src="{{ asset('bundles/app/images/ico-cartelera.png') }}"/></div>
			<div class="cartelera-titulo-vertical">CARTELERA</div>
		</div>


		<div class="cartelera-col2">
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(1)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/mascotas.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">LA VIDA SECRETA DE TUS MASCOTAS</div><br><br>

				<div id="trailer1" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/mascotas.mp4') }}" type="video/mp4">
					</video>
				</div>

				<div id="texto1">
				Para su quinto largometraje totalmente animado, en colaboración de Illumination Entertainment y Universal Pictures presentan La Vida Secreta de tus Mascotas, una comedia sobre cómo es la vida de nuestras mascotas cada vez que salimos para el trabajo o la escuela todos los días.
				Con la participación de superestrellas de comedia como Louis CK, Eric Stonestreet y Kevin Hart quienes hacen su debut en un largometraje de animación con The Secret Life Of Pets, coprotagonizada por Ellie Kemper, Lake Bell, Jenny Slate, Bobby Moynihan, Aníbal Buress y Albert Brooks. El fundador y CEO de Illuminatiton Chris Meledandri y su antiguo colaborador Janet Healy producen la película, es dirigida por Chris Renaud (Mi Villano Favorito, Mi Villano Favorito 2), codirigida por Yarrow Cheney y escrita por Brian Lynch, Cinco Paul y Ken Daurio.
				</div>
							

			</div>

			<br>

			<div class="cartelera-texto flip2" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(2)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/tarzan.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">LA LEYENDA DE TARZÁN</div><br><br>

				<div id="trailer2" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/tarzan.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto2"> Han pasado varios años desde que el hombre alguna vez conocido como Tarzán dejó la selva africana para vivir una buena vida bajo el nombre de John Clayton III, Lord Greystoke, con su amada esposa Jane a su lado. Ahora, ha sido invitado al Congo para oficiar de emisario del Parlamento, sin saber que no es más que un instrumento en una mortal conspiración de codicia y venganza planeada por el capitán belga Leon Rom. Pero quienes están detrás de este complot asesino no tienen idea de lo que están a punto de desatar.
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(3)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/ola.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">LA ULTIMA OLA</div><br><br>

				<div id="trailer3" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/ola.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto3">
				En las montañas de Noruega el geologo Kristian registra con su equipo pequeños movimientos en la tierra, pero nunca imaginó que su peor pesadilla fuera a hacerse realidad. Una avalancha se avecina y amenaza con arrasar con todo a su paso. Mientras el peligro avanza, Kristian  tendrá que enfrentarse a la naturaleza para intentar salvar a la mayor cantidad de personas posible, incluyendo a su familia.
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(4)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/era.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">LA ERA DE HIELO: CHOQUE DE MUNDOS</div><br><br>

				<div id="trailer4" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/era.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto4">
				La épica persecución de Scrat de la escurridiza bellota, lo catapulta a un universo donde accidentalmente desata una serie de eventos cósmicos que transforman y amenazan al mundo de La Era de Hielo. Para salvarse, Sid, Manny, Diego y el resto de la manada deben abandonar su hogar y embarcarse en una búsqueda llena de comedia y aventura, viajando a tierras exóticas nuevas y encontrando una colección de coloridos nuevos personajes.				</div>
				</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(5)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/caza.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">CAZAFANTASMAS</div><br><br>

				<div id="trailer5" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/caza.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto5">
				Treinta años después de que la película original tomara al mundo por asalto, Cazafantasmas regresa en una versión totalmente modernizada para una nueva generación. El director Paul Feig combina todos los elementos para combatir lo paranormal que convirtieron a la franquicia original en algo tan querido, con un elenco de nuevos personajes interpretados por los actores más graciosos que trabajan hoy en día.  ¡Prepárate para verlos salvar al mundo este año!				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(6)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/espia.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">UN ESPIA Y MEDIO</div><br><br>

				<div id="trailer6" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/espia.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto6">
				Esta película cuenta la historia de un nerd que sufrió de bullying durante su adolescencia y que ahora se ha convertido en un letal agente de la CIA (Johnson), él regresa a casa para asistir a la reunión de egresados de la preparatoria y pretendiendo estar en una misión secreta, solicita la ayuda de quien fuera el chico más popular de la clase -convertido ahora en un contador que añora sus días de gloria- y antes de que pueda siquiera pensarlo, se ve involucrado en un mundo de espionaje, acción y explosiones. 
				</div>
			</div>

			<br>

			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(7)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/yo.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">YO ANTES DE TI</div><br><br>

				<div id="trailer7" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/yo.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto7">
				Louisa Clark vive en un pintoresco pueblo campestre de Inglaterra. Sin una dirección clara para su vida, la excéntrica y creativa joven de 26 años va de un trabajo a otro para ayudar a su muy unida familia. Sin embargo, su actitud generalmente alegre será puesta a prueba cuando se encuentre frente a su más reciente desafío laboral. Al comenzar a trabajar en el “castillo” del lugar, se convierte en cuidadora y compañera de Will Traynor (Claflin), un joven y adinerado banquero que quedó en silla de ruedas por culpa de un accidente sucedido dos años atrás, y cuyo mundo cambió dramáticamente en un abrir y cerrar de ojos. Ya no es el alma aventurera que supo ser, y el hoy cínico Will se ha rendido. Hasta que Lou decide demostrarle que vale la pena vivir la vida. Lou y Will se embarcarán en una serie de aventuras, obtendrán de ellas más de lo que esperaban y sus vidas –y corazones- cambiarán de maneras en las que ninguno de los dos podrían haber imaginado.				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(8)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/ilusionistas.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">LOS ILUSIONISTAS 2</div><br><br>

				<div id="trailer8" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/ilusionistas.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto8">
				Un año después de engañar al FBI y ganar la adulación del público con sus espectáculos de magia al estilo Robin Hood, Los Cuatro Jinetes reaparecen en una actuación aún más impresionante con la esperanza de exponer las prácticas poco éticas de un magnate de la tecnología. El hombre detrás de su acto de desaparición no es otro que Walter Mabry (Daniel Radcliffe), un prodigio en la tecnología que pone en peligro a los Jinetes y los lleva a cometer un asalto aún más peligroso. Su única esperanza es llevar a cabo un último truco sin precedentes para limpiar sus nombres y revelar la mente maestra detrás de todo.
				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(9)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/case.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">ME CASE CON UN BOLUDO</div><br><br>

				<div id="trailer9" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/case.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto9">
				Fabián y Florencia se conocen en el rodaje de una película y se casan casi sin conocerse. Al volver de la luna de miel, ella se da cuenta de que se enamoró de un perfecto idiota, al que confundió con el personaje de la ficción. Fabián, desesperado, recurre al guionista de la película para que le escriba escenas de su personaje para reconquistar a su mujer.
				</div>
			</div>

			<br>
			
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(10)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/el-renacido.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">EL RENACIDO</div><br><br>

				<div id="trailer10" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/el-renacido.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto10">
				Inspirada por hechos reales, REVENANT: EL RENACIDO es una experiencia cinematográfica visceral de sumergimiento capturando la aventura épica de supervivencia de un hombre y el extraordinario poder del espíritu humano. En una expedición a las tierras salvajes inexploradas estadounidenses, el legendario explorador Hugh Glass (Leonardo DiCaprio) es brutalmente atacado por un oso y dejado por muerto por los miembros de su propio equipo de cacería. En una búsqueda por sobrevivir, Glass padece penurias inimaginables así como la traición de su confidente John Fitzgerald (Tom Hardy). Guiado por la voluntad y el amor de su familia, Glass debe navegar a través de un invierno brutal en una búsqueda incansable para vivir y encontrar la redención. THE REVENANT está dirigida y coescrita por el reconocido cineasta y ganador del Óscar Alejandro González Iñárritu (Birdman, Babel).
				</div>
			</div>

			<br-->
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(11)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/DEADPOOL.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">DEADPOOL</div><br><br>

				<div id="trailer11" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/DEADPOOL.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto11">
				Basada en el antihéroe menos convencional de Marvel Comics, DEADPOOL cuenta la historia del origen del exagente de las Fuerzas Especiales convertido en mercenario Wade Wilson, quien después de estar sometido a un experimento no autorizado que lo deja con poderes de sanación acelerados, adopta el álter ego Deadpool. Armado con sus nuevas habilidades y un sentido del humor negro y retorcido, Deadpool caza al hombre que casi destruyó su vida.
				</div>
			</div>
			<br-->

			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(12)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/ZOOTOPIA.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">ZOOTOPIA</div><br><br>

				<div id="trailer12" style="display:none;">
					<video style="width: 35vw; height: 22vw;" comontrols>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/ZOOTOPIA.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto12">
				La moderna metrópolis mamífera de Zootopia es una ciudad como ninguna otra. Compuesta por distintos hábitats, tales como el lujoso Plaza Sahara y la indiferente Tundratown, es un crisol donde animales de cada ambiente conviven - un lugar donde sin importar lo que seas, desde el elefante más grande hasta el más pequeño insecto, puedes lograr lo que te propongas. Pero cuando llega la optimista Oficial Judy Hopps, descubre que ser el primer conejo en un escuadrón policial de animales grandes y rudos, no es tan fácil. Decidida a probarse a sí misma, aprovecha la oportunidad de resolver un caso, incluso si esto significa asociarse con un rápido hablador, artista y estafador zorro, Nick Wilde, para resolver el misterio.
				</div>
			</div-->
			
			
				
		

	   
	