
		<a class="atras imagen" href="javascript:abrirInicio();"><img src="{{ asset('bundles/app/images/btn_atras.png') }}"/></a>

		<div class="cartelera-col1 imagen">
			<div class="titulo-vertical-icono"><img src="{{ asset('bundles/app/images/ico-cartelera.png') }}"/></div>
			<div class="cartelera-titulo-vertical">CARTELERA</div>
		</div>


		<div class="cartelera-col2">
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(1)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/diablo.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">YO VI AL DIABLO</div><br><br>

				<div id="trailer1" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/diablo.mp4') }}" type="video/mp4">
					</video>
				</div>

				<div id="texto1">
					
					Eveleigh está esperando su primer hijo y para dejar una frenética vida atrás, se muda con su esposo David a una hermosa casa en un viñedo. Pero el nuevo hogar la recibe con escalofriantes sonidos y visiones que nadie más puede ver, ni siquiera David. Desesperada por probar que no ha enloquecido, Eveleigh busca la ayuda de médium, quien le cuenta la historia de la casa: un pasado oscuro que podría poner en peligro la vida de su familia.
				</div>
			

			</div>

			<br>
			<div class="cartelera-texto flip2" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(2)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/anna.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">ANNA</div><br><br>

				<div id="trailer2" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/anna.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto2">Anna y Nathan se aman como locos. Ella es una joven colombiana residente en París, él es su hijo de diez años. Tratan de pasar más tiempo juntos, pero Philippe, el ex-esposo de Anna, ya no confía en ella y amenaza con tomar la custodia completa del niño. Al no tener otra opción, ella decide irse de Francia con Nathan. Convence a su novio, Bruno, de acompañarlos y los tres se escapan a Colombia. Durante este viaje, Anna tratará de formar una nueva familia y luchará por ser la madre ideal.
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(3)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/volando.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">VOLANDO ALTO</div><br><br>

				<div id="trailer3" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/volando.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto3">
				La película detalla las inspiradoras hazañas de Michael Edwards, mejor conocido como “Eddie el Águila”, el más famoso saltador de esquí en la historia británica. El retrato de la película del enfoque de Edwards de nunca rendirse en el deporte festeja el espíritu humano y la resiliencia de cara a probabilidades y desafíos extraordinarios.  Taron Egerton, que hizo su debut protagónico en cine en Kingsman: El Servicio Secreto, interpreta a Eddie el Águila, y Hugh Jackman interpreta a un experto en salto de esquí que ayuda a Eddie a entrenarse para las Olimpiadas de Calgary
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(4)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/PANDA.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">KUNG FU PANDA 3</div><br><br>

				<div id="trailer4" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/PANDA.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto4">
				Cuando el padre panda perdido de Po reaparece de pronto, el dúo reunido viaja a un paraíso panda secreto para conocer a un montón de graciosísimos nuevos personajes pandas. Pero cuando el villano sobrenatural Kai comienza a atravesar China venciendo a todos los maestros de kung fu, Po debe hacer lo imposible— ¡aprender a entrenar a una aldea llena de; torpes pandas amantes de la diversión y convertirse en la mejor banda de Kung Fu Pandas.
				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(5)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/LEAL.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">DIVERGENTE LA SERIE: LEAL</div><br><br>

				<div id="trailer5" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/LEAL.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto5">
				LEAL, la tercera entrega de la exitosa serie Divergente, lleva a Tris [Shailene Woodley] y Four [Theo James] a un nuevo mundo, mucho más peligroso que nunca. Después de las impresionantes revelaciones de Insurgente, Tris debe escapar con Cuatro e ir más allá del muro que encierra a Chicago. Por primera vez en la historia, dejarán la única ciudad y familia que han conocido. Cuando estén afuera descubrirán nuevas verdades impactantes, que harán que los antiguos descubrimientos los desconcierten. Tris y Cuatro deberán decidir en quién pueden confiar mientras que una despiadada batalla, que amenaza a todo la humanidad, estalla tras las paredes de Chicago. Para sobrevivir, Tris se verá obligada a tomar decisiones imposibles sobre el coraje, la lealtad, el sacrificio y el amor.
				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(6)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/batman.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">BATMAN VS SUPERMAN: EL ORIGEN DE LA JUSTICIA</div><br><br>

				<div id="trailer6" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/batman.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto6">
				María del Rosario Durán, una fiscal de derechos humanos que investiga la complicidad de un importante miembro de las Fuerzas Armadas en un caso de corrupción militar, es amenazada de muerte. El detective Jorge Salcedo, que trabaja con ella en el caso, se lanza a la tarea de descubrir quién está detrás de esta conspiración, corriendo el riesgo de convertirse en la próxima víctima.
				</div>
			</div>

			<br>
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(7)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/13-HORAS.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">13 HORAS: LOS SOLDADOS SECRETOS DE BENGAS</div><br><br>

				<div id="trailer7" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/13-HORAS.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto7">
				Se basa en la historia real narrada en el libro homónimo de Mitchell Zuckoff. El 11 de septiembre de 2012 se produjo un asalto al consulado estadounidense en Bengasi que acabó con la muerte del embajador; la película se centra en un grupo de soldados norteamericanos que intentaron proteger a los suyos en aquel lugar.
				</div>
			</div-->

			<br>
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(8)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/DRAGON-NEST.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">DRAGON NEST: GUERRERO DEL AMANECER</div><br><br>

				<div id="trailer8" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/DRAGON-NEST.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto8">
				La tierra de Altera ha vivido en inquietante paz por años, entre humanos, elfos y bestias malvadas, quienes son leales al legendario Dragón Negro. Cuando el dragón comienza a despertar de su hibernación envía a las bestias a marchar. Bajo la amenaza de una conquista del mal, un grupo de humanos y elfos se une para encontrar el camino secreto del dragón y destruirlo. Pero el destino de todos estará en Lambert, un joven guerrero quien deberá reunir valentía para enfrentarse al dragón cara a cara.
				</div>
			</div-->

			<br>
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(9)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/PREMONICIONES.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">PREMONICIONES, EN LA MENTE DEL ASESINO</div><br><br>

				<div id="trailer9" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/PREMONICIONES.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto9">
				La película cuenta la historia de un detective del FBI al que le llega un horrible caso: varias personas han sido asesinadas de una forma espantosa, y desconoce quién puede ser el asesino. Para intentar resolverlo, pide ayuda a un médico especialista ya retirado, alejado del mundo después de la muerte de su hija. El detective tendrá que convencerle para que vuelva al cuerpo activo, aunque solo sea hasta que se resuelve el caso.
				</div>
			</div-->

			<br>
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(10)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/el-renacido.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">EL RENACIDO</div><br><br>

				<div id="trailer10" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/el-renacido.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto10">
				Inspirada por hechos reales, REVENANT: EL RENACIDO es una experiencia cinematográfica visceral de sumergimiento capturando la aventura épica de supervivencia de un hombre y el extraordinario poder del espíritu humano. En una expedición a las tierras salvajes inexploradas estadounidenses, el legendario explorador Hugh Glass (Leonardo DiCaprio) es brutalmente atacado por un oso y dejado por muerto por los miembros de su propio equipo de cacería. En una búsqueda por sobrevivir, Glass padece penurias inimaginables así como la traición de su confidente John Fitzgerald (Tom Hardy). Guiado por la voluntad y el amor de su familia, Glass debe navegar a través de un invierno brutal en una búsqueda incansable para vivir y encontrar la redención. THE REVENANT está dirigida y coescrita por el reconocido cineasta y ganador del Óscar Alejandro González Iñárritu (Birdman, Babel).
				</div>
			</div-->

			<br>
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(11)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/DEADPOOL.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">DEADPOOL</div><br><br>

				<div id="trailer11" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/DEADPOOL.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto11">
				Basada en el antihéroe menos convencional de Marvel Comics, DEADPOOL cuenta la historia del origen del exagente de las Fuerzas Especiales convertido en mercenario Wade Wilson, quien después de estar sometido a un experimento no autorizado que lo deja con poderes de sanación acelerados, adopta el álter ego Deadpool. Armado con sus nuevas habilidades y un sentido del humor negro y retorcido, Deadpool caza al hombre que casi destruyó su vida.
				</div>
			</div-->

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(12)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/ZOOTOPIA.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">ZOOTOPIA</div><br><br>

				<div id="trailer12" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/ZOOTOPIA.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto12">
				La moderna metrópolis mamífera de Zootopia es una ciudad como ninguna otra. Compuesta por distintos hábitats, tales como el lujoso Plaza Sahara y la indiferente Tundratown, es un crisol donde animales de cada ambiente conviven - un lugar donde sin importar lo que seas, desde el elefante más grande hasta el más pequeño insecto, puedes lograr lo que te propongas. Pero cuando llega la optimista Oficial Judy Hopps, descubre que ser el primer conejo en un escuadrón policial de animales grandes y rudos, no es tan fácil. Decidida a probarse a sí misma, aprovecha la oportunidad de resolver un caso, incluso si esto significa asociarse con un rápido hablador, artista y estafador zorro, Nick Wilde, para resolver el misterio.
				</div>
			</div>
			
			
				
		

	   
	