
		<a class="atras imagen" href="javascript:abrirInicio();"><img src="{{ asset('bundles/app/images/btn_atras.png') }}"/></a>

		<div class="cartelera-col1 imagen">
			<div class="titulo-vertical-icono"><img src="{{ asset('bundles/app/images/ico-cartelera.png') }}"/></div>
			<div class="cartelera-titulo-vertical">CARTELERA</div>
		</div>


		<div class="cartelera-col2">
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(1)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/cigueñas.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">CIGÜEÑAS</div><br><br>

				<div id="trailer1" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/cigueñas.mp4') }}" type="video/mp4">
					</video>
				</div>
				<div id="texto1">
				 Desesperados por entregar este paquete de puros problemas antes de que el jefe se entere, Junior y su amiga Tulip, la única humana en toda la Montaña de Cigüeñas, deben apurarse a hacer su primera entrega de bebés, en un viaje salvaje y revelador que podría hacer feliz a más de una familia y restaurar la verdadera misión de las cigüeñas en el mundo.
				</div>
							

			</div>

			<br>

			<div class="cartelera-texto flip2" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(2)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/maestro.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">MAESTRO SUPLENTE/div><br><br>

				<div id="trailer2" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/maestro.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto2">Zequi es un ladrón, quien tras salir de la cárcel, decide regresar a recuperar el dinero que enterró su cómplice. El problema es que, durante sus años en prisión, en el terreno se construyó la escuela secundaria Frida Kahlo. ¿El remedio para recuperar los millones? ¡Convertirse en maestro sustituto! Pero Zequi no cuenta con que se topará con la tierna maestra Lucy, un particular grupo de maestros y con los estudiantes más descontrolados, rebeldes y mal educados que puedan existir.
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(3)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/ouija.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">OUIJA</div><br><br>

				<div id="trailer3" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/ouija.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto3">
				En Ouija: El Origen del Mal, una familia debe enfrentarse a sus miedos más terribles al confrontar a un demonio que liberaron y que solo ellas pueden enviar de regreso.
					
				Este nuevo capítulo de la serie de suspenso sobrenatural inspirada en el antiguo tablero es también producido por Platinum Dunes, los socios de Michael Bay: Brad Fuller y Andrew Form (The Texas Chainsaw Massacre, La saga 12 horas para Sobrevivir, Tortugas Ninja); Blumhouse Productions (De las sagas de 12 Horas para Sobrevivir e Insidious), Brian Goldner de Hasbro (Transformers y G.I. Joe) y Stephan Davis (Ouija). Mike Flanagan y Jeff Howard (Oculus) escribieron el guión y Universal Pictures distribuirá la película a nivel mundial.
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(4)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/trolls.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">TROLLS</div><br><br>

				<div id="trailer4" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/trolls.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto4">
				De los creadores de Shrek llega la comedia animada más inteligente, graciosa e irreverente del año, Trolls de DreamWorks. Esta temporada, entra al mundo maravilloso y colorido poblado por personajes inolvidablemente graciosos y descubre la historia de los exageradamente optimistas Trolls, con una canción constante en sus labios, y los cómicamente pesimistas Bergens, que sólo están contentos cuando tienen trolls en sus estómagos.

				Con música original de Justin Timberlake, la película cuenta con los talentos de voz de Anna Kendrick, Justin Timberlake, Christopher Mintz-Plasse, Russell Brand, Zooey Deschanel, Jeffrey Tambor, Christine Baranski, James Corden, Kunal Nayyar, Ron Funches, Icona Pop, Quvenzhané Wallis, con John Cleese y Gwen Stefani. 

				</div>
			</div>

			<br>
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(5)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/chica.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">LA CHICA DEL TREN</div><br><br>

				<div id="trailer5" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/chica.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto5">
				 En este thriller, Rachel (Emily Blunt), quien está devastada por su reciente divorcio, pasa los días fantaseando con una pareja aparentemente perfecta que ve todas las mañanas desde el tren, hasta que un día se da cuenta que algo impactante está pasando y se envuelve en el misterio.
				
				Basada en la novela best-seller de Paula Hawkins, La Chica del Tren es una adaptación realizada por Erin Cressida Wilson y Tate Taylor.

				</div>
			</div>


			<br-->
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(6)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/bruja.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">LA BRUJA DE BLAIR</div><br><br>

				<div id="trailer6" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/bruja.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto6">
				Un grupo de estudiantes se adentra en el bosque Black Hills para revelar el misterio de la desaparición de la hermana de James, presuntamente conectado con la leyenda de la Bruja de Blair. Al comienzo, el grupo es optimista, especialmente cuando una pareja local se ofrece como guía para atravesar el oscuro bosque. Pero al acercarse la noche, una presencia amenazante los visita y lentamente se dan cuenta que la leyenda es más real y siniestra de lo que imaginaron.
				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(7)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/coco.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">EL COCO</div><br><br>

				<div id="trailer7" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/coco.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto7">
				Una muerte, una herencia y una mansión solitaria harán que Piroberta y sus amigos se encuentren en una oscura pesadilla, en donde serán perseguidos por un espanto con el que todo niño creció: EL COCO.
				Sin embargo, lejos de asustarse y escapar, deciden heroicamente enfrentar a la presencia maligna que se ha apoderado de la casa y que no está dispuesta a dejarse vencer por sus excéntricos huéspedes. En medio de brujerías, llamadas al más allá y extrañas apariciones, El Coco pondrá a temblar a cada uno en la aterradora mansión. 

				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(8)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/dragon.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">MI AMIGO EL DRAGON</div><br><br>

				<div id="trailer8" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/dragon.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto8">
				  MI AMIGO EL DRAGÓN, una nueva versión de la querida película familiar de Disney, cuenta la aventura de un niño huérfano llamado Pete y su mejor amigo, Elliott, que da la casualidad es un dragón.Durante años, el Sr. Meacham (Robert Redford), un viejo tallador de madera, ha maravillado a los niños locales con sus historias del feroz dragón que vive en las profundidades del bosque en la región del noroeste del Pacífico. Para su hija, Grace (Bryce Dallas Howard), que trabaja como guardabosques, estas historias son apenas relatos fantásticos… hasta que conoce a Pete (Oakes Fegley). Pete es un niño misterioso de 10 años, sin familia ni hogar. Dice vivir en el bosque con un dragón verde gigante llamado Elliott y por las descripciones de Pete, Elliott parece ser notablemente similar al dragón de las historias del Sr. Meacham.</div>
			</div>

			<br>
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(9)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/respires.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">NO RESPIRES</div><br><br>

				<div id="trailer9" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/respires.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto9">
				  Tres ladrones jóvenes invaden la casa de un ciego muy rico, se trata de adolescentes que buscan propiedades vulnerables en la ciudad de Detroit mientras intentan recolectar todo el dinero en efectivo que puedan para escapar del área y comenzar una nueva vida en algún otro sitio. Sin embargo, una vez que han invadido la casa del ciego, las cosas dan un giro de 180 grados.
				</div>
			</div>

			<br-->
			
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(10)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/contador.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">EL CONTADOR</div><br><br>

				<div id="trailer10" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/contador.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto10">
				 Christian Wolff (Ben Affleck) es un contable y genio matemático, un hombre obsesivo con el orden y con mucha más afinidad con los números que con las personas, que lleva una doble vida como asesino despiadado.
				</div>
			</div>

			<br>

			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(11)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/mentes.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">DE-MENTES MAESTRAS</div><br><br>

				<div id="trailer11" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/mentes.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto11">
				Esta comedia de acción basada en hechos reales, David Ghantt (Zach Galifianakis) descubre el verdadero sentido de la aventura mucho más allá de sus sueños más salvajes. Él es un hombre sin complicaciones, atrapado en una vida monótona. Cada día conduce un vehículo blindado, transportando millones de dólares de otras personas, sin perspectiva de mejora a la vista. El único atisbo de emoción es su amor platónico, Kelly Campbell (Kristen Wiig), su compañera de trabajo, quien pronto le cambiará los esquemas de su vida.
				</div>
			</div>
			<br>

			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(12)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/kubo.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">KUBO Y LA BÚSQUEDA SAMURÁI</div><br><br>

				<div id="trailer12" style="display:none;">
					<video style="width: 35vw; height: 22vw;" comontrols>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/kubo.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto12">
				El inteligente y bondadoso Kubo (voz en la versión original de Art Parkinson de la serie “Game of Thrones") se gana la vida contando historias fantásticas a los habitantes de un pequeño pueblo costero, entre los que están Hosato (George Takei), Akihiro (Cary-Hiroyuki Tagawa) y Kameyo (Brenda Vaccaro, nominada a un Oscar). Su tranquila vida cambia de golpe cuando, accidentalmente, invoca a un espíritu del pasado que regresa de los cielos decidido a llevar a cabo una venganza milenaria.
				Kubo no tiene más remedio que huir y unirse a Mono (voz de Charlize Theron) y a Escarabajo (voz de Matthew McConaughey) para salvar a su familia y así resolver el misterio que rodea la caída de su padre, el más grande de todos los samuráis que jamás haya existido. Con la ayuda de su shamisen, un instrumento mágico, Kubo se enfrenta a dioses y a monstruos, como el vengativo Rey Luna (Ralph Fiennes, nominado al Oscar) y las hermanas malvadas (voz de la nominada al Oscar, Rooney Mara), para descubrir el secreto de su legado, reunirse con su familia y cumplir su heroico destino.
				</div>
			</div-->

		</div>
			
			
				
		

	   
	