
		<a class="atras imagen" href="javascript:abrirInicio();"><img src="{{ asset('bundles/app/images/btn_atras.png') }}"/></a>

		<div class="cartelera-col1 imagen">
			<div class="titulo-vertical-icono"><img src="{{ asset('bundles/app/images/ico-cartelera.png') }}"/></div>
			<div class="cartelera-titulo-vertical">CARTELERA</div>
		</div>


		<div class="cartelera-col2">
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(1)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/Usted-no-sabe-quien-soy-Yo.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">¿USTED NO SABE QUIÉN SOY YO?</div><br><br>

				<div id="trailer1" style="display:none;">
					<video style="width: 38vw; height: 25vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/Usted-no-sabe-quien-soy-Yo.mp4') }}" type="video/mp4">
					</video>
				</div>

				<div id="texto1">¿Usted no sabe quién soy yo? es la divertida historia de Ricardo, (Ricardo Quevedo), un comediante amateur que se intenta dar a conocer haciendo Stand Up Comedy en varios bares de Bogotá. Ricardo está atravesando el más espantoso de los guayabos porque su novia de muchos años lo abandonó por un hombre mayor perteneciente a la farándula colombiana que además tiene mucho dinero. Con sus dos amigos Crist (Freddy Beltrán) y Valentino (Iván Marín) concluyen que en la sociedad colombiana es imposible surgir sin tener plata o ser familiar de una persona importante por lo que es mejor aparentar ser alguien de mejor estrato social e ir diciendo a donde quiera que vayas “¿Usted no sabe quién soy yo?”.
				</div>
			

			</div>

			<br>
			<div class="cartelera-texto flip2" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(2)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/un-gallo-con-muchos-huevos.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">UN GALLO CON MUCHOS HUEVOS</div><br><br>

				<div id="trailer2" style="display:none;">
					<video style="width: 38vw; height: 25vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/un-gallo-con-muchos-huevos.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto2">Toto es ahora un joven gallo de granja, pero sus sueños van más allá que despertar a todos los animales cada mañana, quiere ser un gran gallo de pelea en el palenque del pueblo. El destino le cumplirá sus deseos de una manera inesperada. Un ranchero embustero engaña a los dueños de la granja donde vive Toto y los hace apostarla en una pelea de gallos. Así que Toto deberá entrenarse para vencer al terrible gallo Bankivoide, campeón de campeones, sabiendo que el destino de la granja y sus habitantes está en sus “alas”.
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(3)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/GDINO_SPOTARLO_LAS.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">UN GRAN DINOSAURIO</div><br><br>

				<div id="trailer3" style="display:none;">
					<video style="width: 38vw; height: 25vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/GDINO_SPOTARLO_LAS.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto3">
				UN GRAN DINOSAURIO reflexiona sobre el interrogante: ¿Qué hubiera ocurrido si el asteroide que cambió para siempre la vida en la Tierra no hubiera impactado contra el planeta y los dinosaurios jamás se hubieran extinguido? Pixar Animation Studios te lleva en un viaje extraordinario al mundo de los dinosaurios, donde un Apatosaurio llamado Arlo gana un compañero bastante improbable en el camino: un niño humano. Mientras viaja a través de un paisaje montañoso y misterioso, Arlo aprende a confrontar sus temores y descubre lo que realmente es capaz de hacer.
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(4)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/Guerra-de-papas.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">GUERRA DE PAPÁS</div><br><br>

				<div id="trailer4" style="display:none;">
					<video style="width: 38vw; height: 25vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/Guerra-de-papas.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto4">
				"GUERRA DE PAPÁS" nos cuenta la historia de un tranquilo ejecutivo de radio (Ferrell) cuyo mayor deseo es convertirse en el mejor padrastro para los dos hijos de su esposa. Las complicaciones comienzan cuando el salvaje padre biológico de los niños (Wahlberg) aparece en escena y lo obliga a competir por el afecto de los niños.
				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(5)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/abrazo-serpiente.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">EL ABRAZO DE LA SERPIENTE</div><br><br>

				<div id="trailer5" style="display:none;">
					<video style="width: 38vw; height: 25vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/abrazo-serpiente.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto5">
				EL ABRAZO DE LA SERPIENTE cuenta la épica historia del primer contacto, encuentro, acercamiento, traición, y posible amistad que trasciende la vida, entre Karamakate, un Chamán Amazónico, último sobreviviente de su tribu, y dos científicos que con cuarenta años de diferencia, recorren el Amazonas en busca de una planta sagrada que podría curar sus males. Inspirada en los diarios de los primeros exploradores que recorrieron la Amazonía Colombiana, Theodor Koch-Grunberg y Richard Evan Schultes.
				</div>
			</div>

			<br>
			
				
		</div>

	   
	