
		<a class="atras imagen" href="javascript:abrirInicio();"><img src="{{ asset('bundles/app/images/btn_atras.png') }}"/></a>

		<div class="cartelera-col1 imagen">
			<div class="titulo-vertical-icono"><img src="{{ asset('bundles/app/images/ico-cartelera.png') }}"/></div>
			<div class="cartelera-titulo-vertical">CARTELERA</div>
		</div>


		<div class="cartelera-col2">
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(1)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/dia.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">DÍA DE LA INDEPENDENCIA CONTRAATAQUE</div><br><br>

				<div id="trailer1" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/dia.mp4') }}" type="video/mp4">
					</video>
				</div>

				<div id="texto1">
				Siempre supimos que regresarían. Después de que DÍA DE LA INDEPENDENCIA redefiniera el género de película suceso, el siguiente capítulo épico entrega una catástrofe mundial a una escala inimaginable. Usando tecnología alienígena encontrada, las naciones de la Tierra han colaborado en un inmenso programa de defensa para proteger al planeta. Pero nada puede prepararnos para el avance de los extraterrestres y su fuerza sin precedentes. Sólo el ingenio de unos cuantos hombres y mujeres valientes puede traer a nuestro mundo de regreso del borde de la extinción.	
				</div>
							

			</div>

			<br>
			<div class="cartelera-texto flip2" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(2)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/dory.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">BUSCANDO A DORY</div><br><br>

				<div id="trailer2" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/dory.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto2">BUSCANDO A DORY de Disney Pixar, reúne a Dory, la olvidadiza pez cirujano preferida por la audiencia, con sus amigos Nemo y Marlin en una cruzada para hallar respuestas acerca de su pasado. ¿Qué puede recordar? ¿Quiénes son sus padres? ¿Y dónde aprendió a hablar en idioma ballena?
				Dirigida por Andrew Stanton (BUSCANDO A NEMO, WALL E) y producida por Lindsey Collins (coproductora de WALL E), la película cuenta en su versión original, en inglés, con las voces de Ellen DeGeneres, Albert Brooks, Ed O'Neill, Kaitlin Olson, Ty Burrell, Eugene Levy y Diane Keaton. BUSCANDO A DORY se zambullirá en los cines de Latinoamérica a partir de junio de 2016.
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(3)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/Conjuro.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">EL CONJURO 2</div><br><br>

				<div id="trailer3" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/conjuro.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto3">
				Secuela de la exitosa película El Conjuro, que lleva de nuevo a la pantalla otro caso real de los expedientes de los renombrados demonólogos Ed y Lorraine Warren. Esta es una de sus más aterradoras investigaciones paranormales, pues viajan al norte de Londres para ayudar a una madre soltera que tiene a su cargo cuatro hijos y vive sola con ellos en una casa plagada de espíritus maliciosos.
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(4)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/tortugas.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">TORTUGAS NINJA 2: FUERA DE LAS SOMBRAS</div><br><br>

				<div id="trailer4" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/tortugas.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto4">
				Miguel Ángel, Donatelo, Leonardo y Rafael regresan a los cines de todo el mundo a pelear contra villanos más grandes y aun más malvados, junto con April O’Neil (Megan Fox), Vern Fenwick (Will Arnett) y un nuevo integrante: el vigilante y portador de la máscara de Hockey, Casey Jones (Stephen Amell). Después de que el supervillano Shredder escapa de la custodia policiaca, une fuerzas con un científico loco, Baxter Stockman (Tyler Perry) y dos torpes secuaces, Bebop (Gary Anthony Williams) y Rocksteady (estrella de la WWE Stephen "Sheamus" Farrelly), para desatar su plan diabólico para dominar el mundo. A medida que las tortugas se preparan para detener a Shredder y a su nuevo equipo, se encuentran frente a un mal aún mayor, con intenciones similares: el notorio Krang.				</div>
				</div>

			<br>
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(5)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/libro.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">EL LIBRO DE LA SELVA</div><br><br>

				<div id="trailer5" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/libro.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto5">
			Nueva y épica aventura de acción real acerca de Mowgli (en la piel del debutante Neel Sethi), el cachorro-humano que fue criado por una familia de lobos. Pero Mowgli se entera de que ya no es bien recibido en la selva cuando el temible tigre Shere Khan (voz en inglés de Idris Elba), resentido por las heridas infligidas por el Hombre, promete eliminar toda posible amenaza. Forzado a abandonar el único hogar que conoció en su vida, Mowgli se embarca en un fascinante viaje de autodescubrimiento, guiado por la pantera mentora Bagheera (voz en inglés de Ben Kinglsey) y el despreocupado oso Baloo (voz en inglés de Bill Murray). En el camino, Mowgli se encontrará con animales de la selva que no tienen las mejores intenciones, incluida Kaa (voz en inglés de Scarlett Johansson), una serpiente pitón cuya mirada y voz seductora lo hipnotizan, y el embaucador Rey Louie (voz en inglés de Christopher Walken), quien intenta obligar a Mowgli a revelar el secreto de la escurridiza y mortal flor roja: el fuego.
				</div>
			</div>

			<br-->
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(6)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/alicia.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">ALICIA A TRAVÉS DEL ESPEJO</div><br><br>

				<div id="trailer6" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/alicia.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto6">
				La nueva y gran aventura de Disney, ALICIA A TRAVÉS DEL ESPEJO, presenta a los inolvidables personajes de las queridas historias de Lewis Carroll. En esta aventura, Alicia regresa al extravagante mundo de Infratierra y viaja atrás en el tiempo para salvar al Sombrerero Loco.
				</div>
			</div>

			<br>
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(7)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/somnia.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">SOMNIA</div><br><br>

				<div id="trailer7" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/somnia.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto7">
				Cuando Jessie y Mark adoptan a Cody, un dulce niño de 8 años, se dan cuenta que él siente un miedo aterrador a quedarse dormido. Al principio creen que sus inestables hogares pasados le generaron este desorden, pero pronto descubren la verdad: lo que el niño sueña se materializa en la realidad. De un momento a otro los dulces sueños se convierten en horribles pesadillas que ponen a la familia en peligro. Descubrir el oscuro origen de los sueños de Cody será el único camino para salvarse.
				</div>
			</div>

			<br-->
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(8)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/familia.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">Una Familia Espacial</div><br><br>

				<div id="trailer8" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/familia.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto8">
				Una familia espacial cuenta la historia de Mike Goldwing, un valiente y decidido chico de 12 años, hijo y nieto de astronautas y quien siempre ha soñado con ganar el juego de atrapar la bandera, que practica en el mar con sus amigos. Para poder reconciliar a su familia, que es lo que más desea, Mike deberá atrapar una bandera aún más importante que la del juego que practica en la playa: la que plantaron en la Luna los astronautas en la misión del Apolo XI.
				</div>
			</div>

			<br-->
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(9)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/PREMONICIONES.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">PREMONICIONES, EN LA MENTE DEL ASESINO</div><br><br>

				<div id="trailer9" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/PREMONICIONES.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto9">
				La película cuenta la historia de un detective del FBI al que le llega un horrible caso: varias personas han sido asesinadas de una forma espantosa, y desconoce quién puede ser el asesino. Para intentar resolverlo, pide ayuda a un médico especialista ya retirado, alejado del mundo después de la muerte de su hija. El detective tendrá que convencerle para que vuelva al cuerpo activo, aunque solo sea hasta que se resuelve el caso.
				</div>
			</div>

			<br-->
			
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(10)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/el-renacido.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">EL RENACIDO</div><br><br>

				<div id="trailer10" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/el-renacido.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto10">
				Inspirada por hechos reales, REVENANT: EL RENACIDO es una experiencia cinematográfica visceral de sumergimiento capturando la aventura épica de supervivencia de un hombre y el extraordinario poder del espíritu humano. En una expedición a las tierras salvajes inexploradas estadounidenses, el legendario explorador Hugh Glass (Leonardo DiCaprio) es brutalmente atacado por un oso y dejado por muerto por los miembros de su propio equipo de cacería. En una búsqueda por sobrevivir, Glass padece penurias inimaginables así como la traición de su confidente John Fitzgerald (Tom Hardy). Guiado por la voluntad y el amor de su familia, Glass debe navegar a través de un invierno brutal en una búsqueda incansable para vivir y encontrar la redención. THE REVENANT está dirigida y coescrita por el reconocido cineasta y ganador del Óscar Alejandro González Iñárritu (Birdman, Babel).
				</div>
			</div>

			<br-->
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(11)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/DEADPOOL.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">DEADPOOL</div><br><br>

				<div id="trailer11" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/DEADPOOL.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto11">
				Basada en el antihéroe menos convencional de Marvel Comics, DEADPOOL cuenta la historia del origen del exagente de las Fuerzas Especiales convertido en mercenario Wade Wilson, quien después de estar sometido a un experimento no autorizado que lo deja con poderes de sanación acelerados, adopta el álter ego Deadpool. Armado con sus nuevas habilidades y un sentido del humor negro y retorcido, Deadpool caza al hombre que casi destruyó su vida.
				</div>
			</div>
			<br-->

			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(12)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/ZOOTOPIA.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">ZOOTOPIA</div><br><br>

				<div id="trailer12" style="display:none;">
					<video style="width: 35vw; height: 22vw;" comontrols>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/ZOOTOPIA.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto12">
				La moderna metrópolis mamífera de Zootopia es una ciudad como ninguna otra. Compuesta por distintos hábitats, tales como el lujoso Plaza Sahara y la indiferente Tundratown, es un crisol donde animales de cada ambiente conviven - un lugar donde sin importar lo que seas, desde el elefante más grande hasta el más pequeño insecto, puedes lograr lo que te propongas. Pero cuando llega la optimista Oficial Judy Hopps, descubre que ser el primer conejo en un escuadrón policial de animales grandes y rudos, no es tan fácil. Decidida a probarse a sí misma, aprovecha la oportunidad de resolver un caso, incluso si esto significa asociarse con un rápido hablador, artista y estafador zorro, Nick Wilde, para resolver el misterio.
				</div>
			</div-->
			
			
				
		

	   
	