
		<a class="atras imagen" href="javascript:abrirInicio();"><img src="{{ asset('bundles/app/images/btn_atras.png') }}"/></a>

		<div class="cartelera-col1 imagen">
			<div class="titulo-vertical-icono"><img src="{{ asset('bundles/app/images/ico-cartelera.png') }}"/></div>
			<div class="cartelera-titulo-vertical">CARTELERA</div>
		</div>


		<div class="cartelera-col2">
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(1)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/doce.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">12 HORAS PARA SOBREVIVIR: EL AÑO DE LA ELECCIÓN</div><br><br>

				<div id="trailer1" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/doce.mp4') }}" type="video/mp4">
					</video>
				</div>

				<div id="texto1">
				La nueva entrega de la saga que ha recaudado más de 200 millones de dólares alrededor del mundo. 12 horas para sobrevivir: el año de la elección (The Purge: Election Year), revela un nuevo capítulo de la aterradora historia en la que durante 12 horas, una vez al año, cualquier crimen es permitido.
				</div>
							

			</div>

			<br>

			<div class="cartelera-texto flip2" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(2)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/amor.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">FRAGMENTOS DE AMOR</div><br><br>

				<div id="trailer2" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/amor.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto2"> Rodrigo (José Ángel Bichir), un afinador de pianos y en el pasado un brillante compositor, se enamora de Susana (Angélica Blandón), una sensual profesora de natación y escultora quien guarda un oscuro secreto en el sótano de su casa. La pasión que siente Rodrigo por Susana y más aún por las historias que noche tras noche ella le cuenta de sus amantes pasados, inspiran a Rodrigo a volver a componer. Pero pero el profundo dolor que siente al conocer los relatos de Susana, lo lleva al borde de la paranoia, a los celos obsesivos y a un miedo latente de convertirse en una más de sus historias.
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(3)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/escuadron.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">ESCUADRON SUICIDA</div><br><br>

				<div id="trailer3" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/escuadron.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto3">
				Se siente bien ser el malo… Formar un equipo integrado por los supervillanos encarcelados más peligrosos del mundo; armarlos con el arsenal más poderoso que el gobierno tiene disponible y enviarlos a una misión para vencer a una entidad insuperable y enigmática.
				Amanda Waller – Oficial de inteligencia estadunidense– decidió que únicamente un grupo secreto formado por individuos disparatados, despreciables y con nada que perder son la única opción. Sin embargo, cuando ellos se dan cuenta de que no fueron convocados con la idea de triunfar, sino por su obvia culpabilidad si fracasan… ¿Será que el Escuadrón Suicida decidirá morir en el intento o salvar cada quien su vida?
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(4)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/era.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">LA ERA DE HIELO: CHOQUE DE MUNDOS</div><br><br>

				<div id="trailer4" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/era.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto4">
				La épica persecución de Scrat de la escurridiza bellota, lo catapulta a un universo donde accidentalmente desata una serie de eventos cósmicos que transforman y amenazan al mundo de La Era de Hielo. Para salvarse, Sid, Manny, Diego y el resto de la manada deben abandonar su hogar y embarcarse en una búsqueda llena de comedia y aventura, viajando a tierras exóticas nuevas y encontrando una colección de coloridos nuevos personajes.				</div>
				</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(5)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/vaca.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">NO SE METAN CON MI VACA</div><br><br>

				<div id="trailer5" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/vaca.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto5">
				Fatah es un humilde campesino que solo tiene ojos para Jacqueline, su vaca. El sueño de llevarla al prestigioso show agrario de Paris parece imposible, pero cuando recibe una inesperada invitación deja su tierra por primera vez y se embarca en un viaje para atravesar Francia a pie. Entre inesperados encuentros y divertidas sorpresas, junto a Jacqueline vivirá una gran aventura que nunca se imaginó.				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(6)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/luces.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">CUANDO LAS LUCES SE APAGAN</div><br><br>

				<div id="trailer6" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/luces.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto6">
				Cuando Rebecca se fue de casa, creyó que dejaba sus miedos de la infancia atrás. Al crecer, nunca estuvo segura de distinguir lo que era real de lo que no cuando las luces se apagaban… Ahora, Martin, su hermano menor, vive los mismos acontecimientos inexplicables y terroríficos que amenazaron su salud mental y su integridad. Un ser espantoso con un misterioso vínculo a su madre, Sophie, ha vuelto a aparecer. Pero, en esta ocasión, Rebecca se empeña en revelar la verdad, a pesar de que las vidas de quienes la rodean se encuentran en peligro… cuando se apagan las luces.
				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(7)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/gigante.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4"> UN BUEN AMIGO GIGANTE</div><br><br>

				<div id="trailer7" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/gigante.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto7">
				Los talentos de tres de los creadores de historias más importantes del mundo —Roald Dahl, Walt Disney y Steven Spielberg— se unen finalmente para dar vida al querido clásico de Dahl, EL BUEN AMIGO GIGANTE. La película de Disney, dirigida por Spielberg, cuenta la imaginativa historia de una pequeña y del gigante que le muestra las maravillas y los peligros del País de los Gigantes.		</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(8)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/jason.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">JASON BOURNE</div><br><br>

				<div id="trailer8" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/jason.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto8">
				Paul Greengrass, director de La Supremacía Bourne y Bourne: El Ultimatum, dirige una vez más a Damon en 	este nuevo capítulo de la saga de Universal Pictures, en donde el letal agente de la CIA regresará desde las sombras.				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(9)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/novias.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">MIKE Y DAVE, LOS BUSCA NOVIAS</div><br><br>

				<div id="trailer9" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/novias.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto9">
				  Los parranderos hermanos Mike (Adam Devine) y Dave (Zac Efron) ponen un anuncio en internet para encontrar a las acompañantes perfectas (Anna Kendrick, Aubrey Plaza) para la boda hawaiana de su hermana. Esperando una loca aventura, los chicos reciben en cambio una sopa de su propio chocolate del incontrolable dúo.
				</div>
			</div>

			<br>
			
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(10)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/benhur.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">BEN-HUR</div><br><br>

				<div id="trailer10" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/benhur.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto10">
				Ben-Hur es la historia épica de Judá Ben-Hur (Jack Huston), un príncipe falsamente acusado de traición por su hermano adoptivo Messala (Toby Kebbell), un oficial del ejército romano. Despojado de su título, separado de su familia y de la mujer que ama (Nazanin Boniadi), Judá es esclavizado. Después de años en el mar, Judá regresa a su tierra natal para buscar venganza, pero encuentra la redención.
				</div>
			</div>

			<br>

			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(11)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/tipos.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">DOS TIPOS PELIGROSOS</div><br><br>

				<div id="trailer11" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/tipos.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto11">
				Ambientada en Los Ángeles durante los años 70, gira en torno al detective Holland March (Ryan Gosling) y el matón a sueldo Jackson Healy (Russell Crowe), los cuales se ven forzados a colaborar para resolver el caso de una joven desaparecida, la muerte de una estrella porno y una conspiración criminal que llega hasta las altas esferas.
				</div>
			</div>
			<br>

			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(12)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/profundo.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">MIEDO PROFUNDO</div><br><br>

				<div id="trailer12" style="display:none;">
					<video style="width: 35vw; height: 22vw;" comontrols>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/profundo.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto12">
				En el tenso relato de suspenso MIEDO PROFUNDO, Nancy (Blake Lively) surfea sola en una playa solitaria cuando es atacada por un gran tiburón blanco y queda varada a corta distancia de la playa. Aunque está sólo a 200 yardas de su salvación, llegar ahí le requerirá la más exigente fuerza de voluntad.Es una especie de tiburón para una nueva generación.
				</div>
			</div>

		</div>
			
			
				
		

	   
	