
		<a class="atras imagen" href="javascript:abrirInicio();"><img src="{{ asset('bundles/app/images/btn_atras.png') }}"/></a>

		<div class="cartelera-col1 imagen">
			<div class="titulo-vertical-icono"><img src="{{ asset('bundles/app/images/ico-cartelera.png') }}"/></div>
			<div class="cartelera-titulo-vertical">CARTELERA</div>
		</div>


		<div class="cartelera-col2">
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(1)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/belleza.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">BELLEZA INESPERADA</div><br><br>

				<div id="trailer1" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/belleza.mp4') }}" type="video/mp4">
					</video>
				</div>
				<div id="texto1">
				 La trama gira en torno a un ejecutivo de una agencia de publicidad de Nueva York, que lidia contra la depresión después de sufrir una tragedia familiar que da un vuelco a su vida.
				</div>
							

			</div>

			<br>

			<div class="cartelera-texto flip2" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(2)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/pasajeros.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">PASAJEROS</div><br><br>

				<div id="trailer2" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/pasajeros.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto2">Durante un viaje de rutina a través del espacio hacia un nuevo hogar, dos pasajeros que dormían en animación suspendida despiertan con una anticipación de 90 años cuando su nave sufre un daño.  A medida que Jim (Chris Pratt) y Aurora (Jennifer Lawrence) afrontan el hecho de pasar el resto de su vida a bordo, rodeados de cualquier lujo imaginable, comienzan a enamorarse, incapaces de negar su intensa atracción... hasta que descubren que la nave está en grave peligro. Con las vidas de 5,000 pasajeros durmientes en peligro, únicamente Jim y Aurora pueden salvarlos a todos. 
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(3)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/sing.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">SING ¡VEN Y CANTA!</div><br><br>

				<div id="trailer3" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/sing.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto3">
				 Situada en un mundo como el nuestro, pero habitada totalmente por animales, SING ¡Ven y canta! Es protagonizada por Buster Moon (Con la voz del ganador del Oscar, Matthew McConaughey), un koala quien está al frente del que alguna vez fuera uno de los teatros más importantes de la ciudad, pero que actualmente pasa por tiempos difíciles. Buster es un eterno optimista (quizás hasta un poco sinvergüenza), pero ama tanto a su teatro que hará hasta lo imposible por conservarlo. Poco a poco, ve como su sueño se desmorona y es ahí cuando tiene la idea de revivir la gloria de su teatro a través del más grande concurso de canto del mundo.Cinco concursantes son elegidos: Un astuto ratón (Seth MacFarlane); una tímida elefanta adolescente (Tori Kelly) con pánico escénico; una abnegada madre (Voz de la ganadora del Oscar, Reese Witherspoon) quien debe cuidar a sus 25 cerditos; un gorila adolescente quien desea alejarse de las malas costumbres de su familia; una rockera puerca espín (Scarlett Johansson), quien debe alejarse de su complicado novio e iniciar una vida como solista. Cada uno llega al teatro de Buster creyendo que está ante la oportunidad perfecta para cambiar el rumbo de sus vidas.
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(4)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/paseo.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">EL PASEO 4</div><br><br>

				<div id="trailer4" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/paseo.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto4">
				Este año, la familia Rubio va a Miami. Playa, brisa y mar con paseo de olla incluido. Así es el estilo de esta pintoresca familia que por casualidades del destino tiene la oportunidad de viajar a Miami. Por fin pasarán vacaciones en otro lugar diferente a su querido Sasaima.Pronto Miami recibirá a estos entusiastas turistas llenos de patriotismo que deslumbrados por la magia de la ciudad del sol intentarán dejar muy en alto el nombre de la patria.Y como por la maleta se conoce al pasajero, los Rubio-Cucalon haciendo gala de todo su encanto colombiano vivirán las más divertidas situaciones que dejarán sorprendido y encantado a más de un gringo desprevenido.¿Sucumbirán los Rubio-Cucalón al sueño americano?No se pierda, El paseo 4… La familia va a Miami.

				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(5)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/land.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">LA LA LAND</div><br><br>

				<div id="trailer5" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/land.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto5">
				  Escrita y dirigida por el nominado al Óscar Damien Chazelle, LA LA LAND cuenta la historia de Mia (Emma Stone), una aspirante a actriz, y de Sebastian (Ryan Gosling), un dedicado cantante de Jazz, quienes luchan por destacarse en una ciudad conocida por destrozar esperanzas y quebrar corazones. En la Los Ángeles de hoy, esta película impregnada de música, explora la felicidad y las dificultades de perseguir los sueños. 

				  Esta película ha sido nominada a 7 Globos De Oro, entre ellos Mejor Película, Mejor Actor Y Mejor Actriz. Así mismo espera obtener importantes nominaciones en los próximos Óscar.
	
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(6)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/creed.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">ASSASSIN'S CREED</div><br><br>

				<div id="trailer6" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/creed.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto6">
				 A través de una tecnología revolucionaria que libera sus recuerdos genéticos, Callum Lynch (Michael Fassbender) experimenta las aventuras de su ancestro, Aguilar, en la España del siglo XV. Callum descubre que es un descendiente de la misteriosa sociedad secreta, los Assassins, y acumula conocimiento y habilidades impresionantes para enfrentarse a la opresiva y poderosa organización de los templarios del presente.
				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(7)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/sabe.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">UD NO SABE QUIEN SOY YO 2</div><br><br>

				<div id="trailer7" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/sabe.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto7">
				¡Ricardo, Crist y Valentino siguen metiéndose en problemas y parecen no haber aprendido nada! Toda la diversión, risas y las más inesperadas situaciones regresan en ¿USTED NO SABE QUIÉN SOY YO? 2.
				Ricardo necesita dinero y que su carrera de humorista despegue, pero la fama llega de la peor manera cuando un vergonzoso video se hace viral en todo el mundo. Ahora para salvar su relación con Margarita debe solucionar 3 problemitas: la intensidad de su mamá, el terapeuta de pareja que tiene encantada a su novia, y Úrsula –más conocida como la Ayayay-, una hermosa y seductora manager que quiere llevárselo a España.

				</div>
			</div>

			<br>
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(8)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/estacion.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">ESTACIÓN ZOMBIE</div><br><br>

				<div id="trailer8" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/estacion.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto8">
				  El terror del apocalipsis se desata cuando un misterioso virus zombie pone a Corea en estado de emergencia. Mientras la enfermedad se esparce por todo del país, el gobierno declara ley marcial. Solo los pasajeros de un tren con destino a la ciudad de Busan han podido escapar, pero pronto el virus los alcanzará y tendrán que luchar para sobrevivir y proteger a sus seres queridos.</div>
			</div>

			<br-->
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(9)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/presencia.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">PRESENCIA SINIESTRA</div><br><br>

				<div id="trailer9" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/presencia.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto9">
				  Mary es una psicóloga infantil que vive en una casa del bosque con su hijastro Stephen, un adolescente en estado vegetativo desde el accidente de coche en el que murió su padre. Mary ha decidido trasladarle a un centro especializado en el cuidado de pacientes como él, pero antes debe prepararse para pasar una gran tormenta que se acerca. Una serie de acontecimientos inesperados empiezan a llevar a Mary a una situación imposible y amenazadora. ¿Es todo producto de su imaginación? ¿O hay algo que no es lo que parece en su casa y que amenaza su vida y la de otras personas de su entorno?
				</div>
			</div>

			<br-->
			
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(10)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/contador.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">EL CONTADOR</div><br><br>

				<div id="trailer10" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/contador.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto10">
				 Christian Wolff (Ben Affleck) es un contable y genio matemático, un hombre obsesivo con el orden y con mucha más afinidad con los números que con las personas, que lleva una doble vida como asesino despiadado.
				</div>
			</div>

			<br-->

			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(11)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/mentes.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">DE-MENTES MAESTRAS</div><br><br>

				<div id="trailer11" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/mentes.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto11">
				Esta comedia de acción basada en hechos reales, David Ghantt (Zach Galifianakis) descubre el verdadero sentido de la aventura mucho más allá de sus sueños más salvajes. Él es un hombre sin complicaciones, atrapado en una vida monótona. Cada día conduce un vehículo blindado, transportando millones de dólares de otras personas, sin perspectiva de mejora a la vista. El único atisbo de emoción es su amor platónico, Kelly Campbell (Kristen Wiig), su compañera de trabajo, quien pronto le cambiará los esquemas de su vida.
				</div>
			</div>
			<br-->

			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(12)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/kubo.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">KUBO Y LA BÚSQUEDA SAMURÁI</div><br><br>

				<div id="trailer12" style="display:none;">
					<video style="width: 35vw; height: 22vw;" comontrols>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/kubo.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto12">
				El inteligente y bondadoso Kubo (voz en la versión original de Art Parkinson de la serie “Game of Thrones") se gana la vida contando historias fantásticas a los habitantes de un pequeño pueblo costero, entre los que están Hosato (George Takei), Akihiro (Cary-Hiroyuki Tagawa) y Kameyo (Brenda Vaccaro, nominada a un Oscar). Su tranquila vida cambia de golpe cuando, accidentalmente, invoca a un espíritu del pasado que regresa de los cielos decidido a llevar a cabo una venganza milenaria.
				Kubo no tiene más remedio que huir y unirse a Mono (voz de Charlize Theron) y a Escarabajo (voz de Matthew McConaughey) para salvar a su familia y así resolver el misterio que rodea la caída de su padre, el más grande de todos los samuráis que jamás haya existido. Con la ayuda de su shamisen, un instrumento mágico, Kubo se enfrenta a dioses y a monstruos, como el vengativo Rey Luna (Ralph Fiennes, nominado al Oscar) y las hermanas malvadas (voz de la nominada al Oscar, Rooney Mara), para descubrir el secreto de su legado, reunirse con su familia y cumplir su heroico destino.
				</div>
			</div-->

		</div>
			
			
				
		

	   
	