
		<a class="atras imagen" href="javascript:abrirInicio();"><img src="{{ asset('bundles/app/images/btn_atras.png') }}"/></a>

		<div class="cartelera-col1 imagen">
			<div class="titulo-vertical-icono"><img src="{{ asset('bundles/app/images/ico-cartelera.png') }}"/></div>
			<div class="cartelera-titulo-vertical">CARTELERA</div>
		</div>


		<div class="cartelera-col2">
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(1)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/cigueñas.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">CIGÜEÑAS</div><br><br>

				<div id="trailer1" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/cigueñas.mp4') }}" type="video/mp4">
					</video>
				</div>
				<div id="texto1">
				 Desesperados por entregar este paquete de puros problemas antes de que el jefe se entere, Junior y su amiga Tulip, la única humana en toda la Montaña de Cigüeñas, deben apurarse a hacer su primera entrega de bebés, en un viaje salvaje y revelador que podría hacer feliz a más de una familia y restaurar la verdadera misión de las cigüeñas en el mundo.
				</div>
							

			</div>

			<br>

			<div class="cartelera-texto flip2" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(2)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/niños.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">MISS PEREGRINE Y LOS NIÑOS PECULIARES</div><br><br>

				<div id="trailer2" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/niños.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto2">Una experta en diagnósticos corporativos (Kate Mara) es enviada a una ubicación remota y confidencial, donde debe investigar y evaluar un terrorífico accidente. Aprende que el hecho fue desatado por un “humano” aparentemente inocente que presenta un misterio de infinita promesa y al mismo tiempo de un peligro incalculable.
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(3)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/horizonte.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">HORIZONTE PROFUNDO</div><br><br>

				<div id="trailer3" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/horizonte.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto3">
				El 20 de abril de 2010, en la plataforma petrolera “Deepwater Horizon”, ocurrió el mayor desastre provocado por el hombre. Dirigida por Peter Berg (El Sobreviviente, Batalla Naval), esta es la historia que rinde homenaje a valientes hombres y mujeres cuyo heroísmo cambió sus vidas para siempre.
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(4)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/club.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">EL CLUB DE LAS MADRES REBELDES</div><br><br>

				<div id="trailer4" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/club.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto4">
				Una trabajadora madre lleva una vida en apariencia perfecta, pero en realidad el estrés hace que esté a punto de romperse. Cansada de todo, decide unirse junto a otras dos agobiadas madres para liberarse de las responsabilidades convencionales. Así el grupo se emborracha e inicia una lucha por la libertad, la diversión y la autocomplacencia. Pero accidentalmente su camino se cruza con la líder de la asociación de padres, una devota del ideal de "madre perfecta". 				</div>
				</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(5)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/escuadron.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">ESCUADRON SUICIDA</div><br><br>

				<div id="trailer5" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/escuadron.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto5">
				Se siente bien ser el malo… Formar un equipo integrado por los supervillanos encarcelados más peligrosos del mundo; armarlos con el arsenal más poderoso que el gobierno tiene disponible y enviarlos a una misión para vencer a una entidad insuperable y enigmática.
				
				Amanda Waller – Oficial de inteligencia estadunidense– decidió que únicamente un grupo secreto formado por individuos disparatados, despreciables y con nada que perder son la única opción. Sin embargo, cuando ellos se dan cuenta de que no fueron convocados con la idea de triunfar, sino por su obvia culpabilidad si fracasan… ¿Será que el Escuadrón Suicida decidirá morir en el intento o salvar cada quien su vida?

				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(6)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/luces.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">CUANDO LAS LUCES SE APAGAN</div><br><br>

				<div id="trailer6" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/luces.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto6">
				Cuando Rebecca se fue de casa, creyó que dejaba sus miedos de la infancia atrás. Al crecer, nunca estuvo segura de distinguir lo que era real de lo que no cuando las luces se apagaban… Ahora, Martin, su hermano menor, vive los mismos acontecimientos inexplicables y terroríficos que amenazaron su salud mental y su integridad. Un ser espantoso con un misterioso vínculo a su madre, Sophie, ha vuelto a aparecer. Pero, en esta ocasión, Rebecca se empeña en revelar la verdad, a pesar de que las vidas de quienes la rodean se encuentran en peligro… cuando se apagan las luces.
				</div>
			</div>

			<br>
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(7)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/gigante.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4"> UN BUEN AMIGO GIGANTE</div><br><br>

				<div id="trailer7" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/gigante.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto7">
				Los talentos de tres de los creadores de historias más importantes del mundo —Roald Dahl, Walt Disney y Steven Spielberg— se unen finalmente para dar vida al querido clásico de Dahl, EL BUEN AMIGO GIGANTE. La película de Disney, dirigida por Spielberg, cuenta la imaginativa historia de una pequeña y del gigante que le muestra las maravillas y los peligros del País de los Gigantes.		</div>
			</div>

			<br-->
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(8)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/agora.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">AGORAFOBIA. ELLOS NUNCA DEBIERON ENTRAR</div><br><br>

				<div id="trailer8" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/agora.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto8">
				 Anna es una mujer que sufre una agorafobia que la paraliza por completo. Por eso, cuando tres delincuentes irrumpen en su hogar, Anna no huye. Lo que ellos no saben es que ella esconde algo más que una fobia.</div>
			</div>

			<br-->
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(9)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/respires.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">NO RESPIRES</div><br><br>

				<div id="trailer9" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/respires.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto9">
				  Tres ladrones jóvenes invaden la casa de un ciego muy rico, se trata de adolescentes que buscan propiedades vulnerables en la ciudad de Detroit mientras intentan recolectar todo el dinero en efectivo que puedan para escapar del área y comenzar una nueva vida en algún otro sitio. Sin embargo, una vez que han invadido la casa del ciego, las cosas dan un giro de 180 grados.
				</div>
			</div>

			<br-->
			
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(10)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/especialista.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">EL ESPECIALISTA: RESURECCION</div><br><br>

				<div id="trailer10" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/especialista.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto10">
				Arthur Bishop (Jason Statham) pensó que había dejado atrás su pasado criminal, pero se encuentra de nuevo con él en el momento en que la mujer de su vida es secuestrada por uno de sus mayores enemigos. Debido a esto, se ve obligado a viajar por el mundo para llevar a cabo tres asesinatos imposibles y hacer su especialidad: que a los ojos de los demás sean accidentes.
				</div>
			</div>

			<br>

			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(11)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/siete.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">LOS SIETE MAGNIFICOS</div><br><br>

				<div id="trailer11" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/siete.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto11">
				El poblado de Rose Creek está bajo el mortífero control del industrial Bartholomew Bogue, así que los desesperados habitantes recurren a la protección de siete forajidos, cazadores de recompensas, jugadores y pistoleros a sueldo, Sam Chisolm , Josh Farraday , Goodnight Robicheaux, Jack Horne, Billy Rocks, Vásquez y Red Harvest. A medida que preparan a la población para la violenta confrontación que saben que se aproxima, estos siete mercenarios se encuentran a sí mismos peleando por algo más que sólo el dinero.
				</div>
			</div>
			<br>

			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(12)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/kubo.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">KUBO Y LA BÚSQUEDA SAMURÁI</div><br><br>

				<div id="trailer12" style="display:none;">
					<video style="width: 35vw; height: 22vw;" comontrols>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/kubo.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto12">
				El inteligente y bondadoso Kubo (voz en la versión original de Art Parkinson de la serie “Game of Thrones") se gana la vida contando historias fantásticas a los habitantes de un pequeño pueblo costero, entre los que están Hosato (George Takei), Akihiro (Cary-Hiroyuki Tagawa) y Kameyo (Brenda Vaccaro, nominada a un Oscar). Su tranquila vida cambia de golpe cuando, accidentalmente, invoca a un espíritu del pasado que regresa de los cielos decidido a llevar a cabo una venganza milenaria.
				Kubo no tiene más remedio que huir y unirse a Mono (voz de Charlize Theron) y a Escarabajo (voz de Matthew McConaughey) para salvar a su familia y así resolver el misterio que rodea la caída de su padre, el más grande de todos los samuráis que jamás haya existido. Con la ayuda de su shamisen, un instrumento mágico, Kubo se enfrenta a dioses y a monstruos, como el vengativo Rey Luna (Ralph Fiennes, nominado al Oscar) y las hermanas malvadas (voz de la nominada al Oscar, Rooney Mara), para descubrir el secreto de su legado, reunirse con su familia y cumplir su heroico destino.
				</div>
			</div-->

		</div>
			
			
				
		

	   
	