
		<a class="atras imagen" href="javascript:abrirInicio();"><img src="{{ asset('bundles/app/images/btn_atras.png') }}"/></a>

		<div class="cartelera-col1 imagen">
			<div class="titulo-vertical-icono"><img src="{{ asset('bundles/app/images/ico-cartelera.png') }}"/></div>
			<div class="cartelera-titulo-vertical">CARTELERA</div>
		</div>


		<div class="cartelera-col2">
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(1)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/rapidos.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">RÁPIDOS Y FURIOSOS 8</div><br><br>

				<div id="trailer1" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/rapidos.mp4') }}" type="video/mp4">
					</video>
				</div>
				<div id="texto1">
				 Justo cuando Dom y Letty celebran su luna de miel, Brian y Mia se han retirado del juego y el resto del equipo se ha desintegrado en busca de una vida común y corriente; una misteriosa mujer (Charlize Theron, ganadora al Óscar) intentará seducir a Dom para convencerlo de regresar a la vida criminal que tanto lo acecha, traicionando a quienes lo rodean y enfrentándose a retos nunca antes vistos. Desde la costa cubana pasando por las calles de Nueva York y hasta el helado Ártico, el equipo deberá cruzar el mundo para detener a una anarquista y evitar un desastre mundial trayendo de vuelta a casa al hombre que los convirtió en una familia.
				</div>
							

			</div>

			<br>

			<div class="cartelera-texto flip2" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(2)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/pitufos.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">LOS PITUFOS EN LA ALDEA PERDIDA</div><br><br>

				<div id="trailer2" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/pitufos.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto2">Los Pitufos en la Aldea Perdida nos cuenta cómo Pitufina y sus hermanos recorren un desconocido bosque encantado para tratar de descubrir un pueblo de fábula de Pitufos antes que su némesis, el malvado mago Gargamel, lo haga. En el camino, algunos de los misterios en los orígenes de las pequeñas criaturas azules salen a la luz: ¿Por qué los Pitufos no vienen en otros colores? ¿Son sus casas de hongos orgánicos? y ¿por qué hay 99 niños y solamente una niña?
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(3)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/bella.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">LA BELLA Y LA BESTIA</div><br><br>

				<div id="trailer3" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/bella.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto3">
				LA BELLA Y LA BESTIA, de Disney, es una adaptación de acción real de la película animada, que revive a los queridos personajes del clásico cuento de Disney para una audiencia contemporánea, manteniendo la música original e incorporando varias nuevas canciones. Dirigida por el ganador del Oscar® Bill Condon y basada en la película animada homónima de 1991, el guion pertenece a Evan Spiliotopoulos, Bill Condon y Stephen Chbosky, y cuenta con la producción de David Hoberman y Todd Lieberman, de Mandeville Films.
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(4)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/guardianes.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">GUARDIANES DE LA GALAXIA VOL. 2</div><br><br>

				<div id="trailer4" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/guardianes.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto4">
				Ambientada en el nuevo contexto sonoro de “Awesome Mixtape #2”, GUARDIANES DE LA GALAXIA VOL. 2, de Marvel, continúa las aventuras del equipo en su travesía por los confines del cosmos. Los Guardianes deberán luchar para mantener unida a su nueva familia mientras intentan desentrañar el misterio del verdadero linaje de Peter Quill. Viejos rivales se convertirán en nuevos aliados y los personajes favoritos de los cómics clásicos acudirán en ayuda de nuestros héroes a medida que el Universo Cinematográfico de Marvel continúa expandiéndose.

				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(5)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/pañales.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">UN JEFE EN PAÑALES</div><br><br>

				<div id="trailer5" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/pañales.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto5">
				  Conoce al bebé más inusual. Usa traje, habla con la voz e ingenio de Alec Baldwin. Un Jefe en Pañales es una historia universal e hilarante acerca de cómo la llegada de un nuevo bebé impacta a una familia, contada desde la perspectiva de un narrador poco fiable, pero encantador: Tim, un niño de siete años, de mente desenfrenada e imaginativa. Con un mensaje pícaro, pero conmovedor, acerca de la importancia de la familia.
	
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(6)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/nunca.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">NUNCA DIGAS SU NOMBRE
</div><br><br>

				<div id="trailer6" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/nunca.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto6">
				 Tres estudiantes universitarios se mueven a una vieja casa del campus, donde sin querer desatan una entidad sobrenatural conocida como Bye Bye Man, que va tras ellos cuando descubren su nombre. Los amigos intentan salvar a los demás mientras intentan mantener en secreto la identidad del peligroso ser. 
				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(7)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/ladrones.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">¿EN DONDE ESTÁN LOS LADRONES?</div><br><br>

				<div id="trailer7" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/ladrones.mp4') }}" type="video/mp4">
					</video>
				</div>
					
				<div id="texto7">
				De los creadores de “Usted no sabe quién soy yo” y “Se nos armó la gorda” llega una comedia que le robará más de una carcajada. ¿Hasta dónde estaría dispuesto a llegar por llevar la comida a su mesa? Andrés (Alejandro Gutiérrez), un intachable padre de familia y genio de la tecnología, lo descubrirá cuando se vea envuelto en una trampa que lo obliga a convertirse en un singular criminal junto a su mejor amigo, el Rey del disfraz (Polilla). Por culpa de su jefe, Ralph (José Manuel Ospina), deberá poner en uso todos sus conocimientos para desenmascarar una peligrosa red de criminales, mientras oculta su nueva profesión a su esposa (Lina Castrillón), su precoz hijo, y su entrometida empleada (María Auxilio Restrepo). Con las actuaciones especiales de Fabio Restrepo, "La gorda" Fabiola.

				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(8)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/chupa.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">LA LEYENDA DEL CHUPACABRAS</div><br><br>

				<div id="trailer8" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/chupa.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto8">
				  Después de su aventura con las Momias de Guanajuato y en plena guerra de independencia, Leo San Juan, es confundido con un rebelde insurgente por los soldados del ejército realista en su camino de regreso a Puebla, por lo que es hecho prisionero. Al estar encerrado en un viejo convento abandonado junto con otros rebeldes aparece un espantoso monstruo alado: el Chupacabras, quién ataca a presos y guardias por igual. Abandonado a su suerte, Leo deberá combatir al monstruo y escapar antes de que los realistas dinamiten el convento. Mientras lucha por sobrevivir descubrirá el secreto detrás del Chupacabras y tendrá que tomar la decisión mas difícil de su vida.</div>
			</div>

			<br>
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(9)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/resident.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">RESIDENT EVIL 6: CAPÍTULO FINAL</div><br><br>

				<div id="trailer9" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/resident.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto9">
				 Basado en la enormemente popular serie de videojuegos de Capcom, llega el episodio final de la franquicia cinematográfica de videojuegos más exitosa de la historia que ha recaudado más de US $1 mil millones alrededor del mundo a la fecha.
				 Inmediatamente después de los eventos narrados en Resident Evil: Retribution, Alice (Milla Jovovich) es la única sobreviviente de lo que se suponía  era la ofensiva final de la humanidad contra los no-muertos. Ahora ella debe regresar al lugar en el que comenzó la pesadilla  – The Hive en Raccoon City, donde la Corporación Umbrella reagrupa sus fuerzas para un golpe final contra los sobrevivientes restantes del apocalipsis.	
				</div>
			</div>

			<br-->
			
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(10)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/rescate.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">RESCATE SUICIDA</div><br><br>

				<div id="trailer10" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/rescate.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto10">
				 Una historia sobre valentía, auto sacrificio y dignidad humana puesta en juicio por el poder despiadado de la naturaleza. Un joven piloto es despedido de la fuerza aérea militar después de desobedecer una orden absurda. Obtiene un trabajo como copiloto con una aerolínea civil. Siendo brutalmente honesto y directo, no está en mejores términos con sus nuevos colegas. Durante un vuelo a Asia su tripulación recibe un mensaje de socorro de una isla volcánica y toma la decisión de intentar una misión de rescate. ¿Será un éxito? ¿Sobrevivirán al desastre?

				</div>
			</div>

			<br-->

			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(11)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/mentes.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">DE-MENTES MAESTRAS</div><br><br>

				<div id="trailer11" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/mentes.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto11">
				Esta comedia de acción basada en hechos reales, David Ghantt (Zach Galifianakis) descubre el verdadero sentido de la aventura mucho más allá de sus sueños más salvajes. Él es un hombre sin complicaciones, atrapado en una vida monótona. Cada día conduce un vehículo blindado, transportando millones de dólares de otras personas, sin perspectiva de mejora a la vista. El único atisbo de emoción es su amor platónico, Kelly Campbell (Kristen Wiig), su compañera de trabajo, quien pronto le cambiará los esquemas de su vida.
				</div>
			</div>
			<br-->

			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(12)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/kubo.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">KUBO Y LA BÚSQUEDA SAMURÁI</div><br><br>

				<div id="trailer12" style="display:none;">
					<video style="width: 35vw; height: 22vw;" comontrols>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/kubo.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto12">
				El inteligente y bondadoso Kubo (voz en la versión original de Art Parkinson de la serie “Game of Thrones") se gana la vida contando historias fantásticas a los habitantes de un pequeño pueblo costero, entre los que están Hosato (George Takei), Akihiro (Cary-Hiroyuki Tagawa) y Kameyo (Brenda Vaccaro, nominada a un Oscar). Su tranquila vida cambia de golpe cuando, accidentalmente, invoca a un espíritu del pasado que regresa de los cielos decidido a llevar a cabo una venganza milenaria.
				Kubo no tiene más remedio que huir y unirse a Mono (voz de Charlize Theron) y a Escarabajo (voz de Matthew McConaughey) para salvar a su familia y así resolver el misterio que rodea la caída de su padre, el más grande de todos los samuráis que jamás haya existido. Con la ayuda de su shamisen, un instrumento mágico, Kubo se enfrenta a dioses y a monstruos, como el vengativo Rey Luna (Ralph Fiennes, nominado al Oscar) y las hermanas malvadas (voz de la nominada al Oscar, Rooney Mara), para descubrir el secreto de su legado, reunirse con su familia y cumplir su heroico destino.
				</div>
			</div-->

		</div>
			
			
				
		

	   
	