
		<a class="atras imagen" href="javascript:abrirInicio();"><img src="{{ asset('bundles/app/images/btn_atras.png') }}"/></a>

		<div class="cartelera-col1 imagen">
			<div class="titulo-vertical-icono"><img src="{{ asset('bundles/app/images/ico-cartelera.png') }}"/></div>
			<div class="cartelera-titulo-vertical">CARTELERA</div>
		</div>


		<div class="cartelera-col2">
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(1)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/malcriados.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">MALCRIADOS</div><br><br>

				<div id="trailer1" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/malcriados.mp4') }}" type="video/mp4">
					</video>
				</div>

				<div id="texto1">
					
				Manuel Rico es viudo y vive con sus tres hijos: Javi, Bárbara y Charly, en la mansión familiar ubicada en la Sabana de Bogotá. Manuel ha consentido demasiado a sus hijos para compensar la ausencia de su madre, pero también ha sido un padre un tanto ausente por sus obligaciones profesionales. Desbordado por los disgustos de haber criado a tres vagos irresponsables, Manuel sufre un infarto. Entonces, todo cambia: su empresa ha sido denunciada por desfalco y todos los bienes han sido embargados, lo que obliga a sus malcriados hijos a ocultarse en una vieja casa destartalada en el barrio Las Nieves y como si fuera poco, les toca hacer lo que nunca se imaginaron: trabajar por primera vez. Al final todos aprenderán una gran lección. ¡Familia es familia!	
				</div>
			

			</div>

			<br>
			<div class="cartelera-texto flip2" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(2)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/bruja.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">LA BRUJA</div><br><br>

				<div id="trailer2" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/bruja.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto2">La Bruja, se desarrolla en el año de 1630 en Nueva Inglaterra cuando una familia devotamente cristiana se ve amenazada por las fuerzas de la brujería y la magia negra.
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(3)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/volando.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">VOLANDO ALTO</div><br><br>

				<div id="trailer3" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/volando.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto3">
				La película detalla las inspiradoras hazañas de Michael Edwards, mejor conocido como “Eddie el Águila”, el más famoso saltador de esquí en la historia británica. El retrato de la película del enfoque de Edwards de nunca rendirse en el deporte festeja el espíritu humano y la resiliencia de cara a probabilidades y desafíos extraordinarios.  Taron Egerton, que hizo su debut protagónico en cine en Kingsman: El Servicio Secreto, interpreta a Eddie el Águila, y Hugh Jackman interpreta a un experto en salto de esquí que ayuda a Eddie a entrenarse para las Olimpiadas de Calgary
				</div>
			</div>


			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(4)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/PANDA.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">KUNG FU PANDA 3</div><br><br>

				<div id="trailer4" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/PANDA.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto4">
				Cuando el padre panda perdido de Po reaparece de pronto, el dúo reunido viaja a un paraíso panda secreto para conocer a un montón de graciosísimos nuevos personajes pandas. Pero cuando el villano sobrenatural Kai comienza a atravesar China venciendo a todos los maestros de kung fu, Po debe hacer lo imposible— ¡aprender a entrenar a una aldea llena de; torpes pandas amantes de la diversión y convertirse en la mejor banda de Kung Fu Pandas.
				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(5)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/libro.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">EL LIBRO DE LA SELVA</div><br><br>

				<div id="trailer5" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/libro.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto5">
			Nueva y épica aventura de acción real acerca de Mowgli (en la piel del debutante Neel Sethi), el cachorro-humano que fue criado por una familia de lobos. Pero Mowgli se entera de que ya no es bien recibido en la selva cuando el temible tigre Shere Khan (voz en inglés de Idris Elba), resentido por las heridas infligidas por el Hombre, promete eliminar toda posible amenaza. Forzado a abandonar el único hogar que conoció en su vida, Mowgli se embarca en un fascinante viaje de autodescubrimiento, guiado por la pantera mentora Bagheera (voz en inglés de Ben Kinglsey) y el despreocupado oso Baloo (voz en inglés de Bill Murray). En el camino, Mowgli se encontrará con animales de la selva que no tienen las mejores intenciones, incluida Kaa (voz en inglés de Scarlett Johansson), una serpiente pitón cuya mirada y voz seductora lo hipnotizan, y el embaucador Rey Louie (voz en inglés de Christopher Walken), quien intenta obligar a Mowgli a revelar el secreto de la escurridiza y mortal flor roja: el fuego.
				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(6)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/batman.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">BATMAN VS SUPERMAN: EL ORIGEN DE LA JUSTICIA</div><br><br>

				<div id="trailer6" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/batman.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto6">
				María del Rosario Durán, una fiscal de derechos humanos que investiga la complicidad de un importante miembro de las Fuerzas Armadas en un caso de corrupción militar, es amenazada de muerte. El detective Jorge Salcedo, que trabaja con ella en el caso, se lanza a la tarea de descubrir quién está detrás de esta conspiración, corriendo el riesgo de convertirse en la próxima víctima.
				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(7)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/londres.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">LONDRES BAJO FUEGO</div><br><br>

				<div id="trailer7" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/londres.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto7">
				La historia se ubica en Londres, donde el primer ministro británico ha muerto en circunstancias misteriosas. Su funeral es un evento de obligada asistencia para los líderes del mundo occidental. Pero lo que comienza como el evento más protegido del planeta, se convierte en un complot para asesinar a los líderes más poderosos del mundo y comenzar así un futuro aterrador. Sólo tres personas tienen alguna esperanza de detenerlo: el Presidente de los Estados Unidos, su jefe del servicio secreto (Butler) y un agente inglés del MI-6.
				</div>
			</div>

			<br>
			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(8)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/avenida.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">AVENIDA CLOVERFIELD 10</div><br><br>

				<div id="trailer8" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/avenida.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto8">
				Una joven sufre un accidente de coche. Cuando despierta se encuentra encerrada en una celda bajo tierra, secuestrada por un hombre extraño que dice haberla salvado del día del juicio final. El excéntrico captor asegura que el exterior es inhabitable por culpa de un terrible ataque químico, algo que no sabe si creer. Es así como comienza su pesadilla. La mente del criminal es infranqueable y ella tendrá que intentar analizar a su enemigo para conseguir sobrevivir.
				</div>
			</div>

			<br>
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(9)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/PREMONICIONES.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">PREMONICIONES, EN LA MENTE DEL ASESINO</div><br><br>

				<div id="trailer9" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/PREMONICIONES.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto9">
				La película cuenta la historia de un detective del FBI al que le llega un horrible caso: varias personas han sido asesinadas de una forma espantosa, y desconoce quién puede ser el asesino. Para intentar resolverlo, pide ayuda a un médico especialista ya retirado, alejado del mundo después de la muerte de su hija. El detective tendrá que convencerle para que vuelva al cuerpo activo, aunque solo sea hasta que se resuelve el caso.
				</div>
			</div>

			<br-->
			
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(10)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/el-renacido.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">EL RENACIDO</div><br><br>

				<div id="trailer10" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/el-renacido.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto10">
				Inspirada por hechos reales, REVENANT: EL RENACIDO es una experiencia cinematográfica visceral de sumergimiento capturando la aventura épica de supervivencia de un hombre y el extraordinario poder del espíritu humano. En una expedición a las tierras salvajes inexploradas estadounidenses, el legendario explorador Hugh Glass (Leonardo DiCaprio) es brutalmente atacado por un oso y dejado por muerto por los miembros de su propio equipo de cacería. En una búsqueda por sobrevivir, Glass padece penurias inimaginables así como la traición de su confidente John Fitzgerald (Tom Hardy). Guiado por la voluntad y el amor de su familia, Glass debe navegar a través de un invierno brutal en una búsqueda incansable para vivir y encontrar la redención. THE REVENANT está dirigida y coescrita por el reconocido cineasta y ganador del Óscar Alejandro González Iñárritu (Birdman, Babel).
				</div>
			</div-->

			<br>
			<!--div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(11)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/DEADPOOL.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">DEADPOOL</div><br><br>

				<div id="trailer11" style="display:none;">
					<video style="width: 35vw; height: 22vw;" controls>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/DEADPOOL.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto11">
				Basada en el antihéroe menos convencional de Marvel Comics, DEADPOOL cuenta la historia del origen del exagente de las Fuerzas Especiales convertido en mercenario Wade Wilson, quien después de estar sometido a un experimento no autorizado que lo deja con poderes de sanación acelerados, adopta el álter ego Deadpool. Armado con sus nuevas habilidades y un sentido del humor negro y retorcido, Deadpool caza al hombre que casi destruyó su vida.
				</div>
			</div>
			<br-->

			<div class="cartelera-texto flip1" style="height: 35vw;">
				<a href="javascript:mostrarTrailer(12)"><img width="30%" src="{{ asset('bundles/app/uploads/cartelera/ZOOTOPIA.jpg') }}" style="height: 30vw; float:left; margin: 3vw;" /></a>
				<br><br><div class="t4">ZOOTOPIA</div><br><br>

				<div id="trailer12" style="display:none;">
					<video style="width: 35vw; height: 22vw;" comontrols>
					  <source src="{{ asset('bundles/app/uploads/cartelera/videos/ZOOTOPIA.mp4') }}" type="video/mp4">
					</video>
				</div>
				
				<div id="texto12">
				La moderna metrópolis mamífera de Zootopia es una ciudad como ninguna otra. Compuesta por distintos hábitats, tales como el lujoso Plaza Sahara y la indiferente Tundratown, es un crisol donde animales de cada ambiente conviven - un lugar donde sin importar lo que seas, desde el elefante más grande hasta el más pequeño insecto, puedes lograr lo que te propongas. Pero cuando llega la optimista Oficial Judy Hopps, descubre que ser el primer conejo en un escuadrón policial de animales grandes y rudos, no es tan fácil. Decidida a probarse a sí misma, aprovecha la oportunidad de resolver un caso, incluso si esto significa asociarse con un rápido hablador, artista y estafador zorro, Nick Wilde, para resolver el misterio.
				</div>
			</div>
			
			
				
		

	   
	