
		<a class="atras imagen" href="javascript:abrirInicio();"><img src="{{ asset('bundles/app/images/btn_atras.png') }}"/></a>

		<div class="cartelera-col1 imagen">
			<div class="titulo-vertical-icono"><!--img src="{{ asset('bundles/app/images/ico-cartelera.png') }}"/--></div>
			<div class="noticias-titulo-vertical">NOTICIAS</div>
		</div>


		<div class="cartelera-col2">
		

			<br>
			<!--div class="cartelera-texto " style="width: 95%">
				<img src="{{ asset('bundles/app/uploads/noticias/noticias_eventos.jpg') }}" style="width: 90%; float:left; margin: 1vw;" />
				
			</div>

			<br-->
			<div class="cartelera-texto " style="width: 95%">
				<img src="{{ asset('bundles/app/uploads/noticias/wifi-gratis.jpg') }}" style="width: 90%; float:left; margin: 1vw;" />
				
			</div>
			<br>
			
			<!--div class="cartelera-texto " style="width: 95%">
				<img src="{{ asset('bundles/app/uploads/noticias/Boom-de-Premios-sorteos.jpg') }}" style="width: 90%; float:left; margin: 1vw;" />
				
			</div>
			<br-->

			<!--div class="cartelera-texto " style="width: 95%">
				<img src="{{ asset('bundles/app/uploads/noticias/Boom-de-Premios.jpg') }}" style="width: 90%; float:left; margin: 1vw;" />
				
			</div>
			<br-->
			
		</div>


	   
	