
		<a class="atras imagen" href="javascript:abrirInicio();"><img src="{{ asset('bundles/app/images/btn_atras.png') }}"/></a>
		
		<div class="cartelera-col1 imagen">
			<div class="titulo-vertical-icono"><!--img src="{{ asset('bundles/app/images/ico-cartelera.png') }}"/--></div>
			<div class="promociones-titulo-vertical">PROMOCIONES</div>
		</div>


		<div class="cartelera-col2">
			echo __FILE__;

			<iframe src="app\Resources\views\default\web-portal80.html" width=100% height=100%> </iframe>

			<!--div class="cartelera-texto flip1" style="height: 35vw;">

				<a href="javascript:mostrarPromocion(1)"><br> 
					<img width="25%" src="{{ asset('bundles/app/uploads/promociones/ela.jpg') }}" style="height: 28vw; float:left; margin: 2.5vw;"/>			
				</a> 
				<div class="t4" style="text-align:center;"><h2>ELA</h2></div>
				<div id="texto1" class="t4" >					
					<h5>El plan es en nuestras tiendas ‪#‎ELA‬.&nbsp;Condiciones y restricciones en www.ela.com.co</h5>

				</div>
				<br><br>
			</div>

			<div class="cartelera-texto flip2" style="height: 35vw;">

				<a href="javascript:mostrarPromocion(1)"><br> 
					<img width="25%" src="{{ asset('bundles/app/uploads/promociones/fiorenzi.jpg') }}" style="height: 28vw; float:left; margin: 2.5vw;"/>			
				</a> 
				<div class="t4" style="text-align:center;"><h2>FIORENZI</h2></div>
				<div id="texto1" class="t4" >					
					<h5>En el mes de los niños y Fiorenzi quiere celebrarlo junto a toda la familia.Por compras superiores a $120.000, podras llevarte cualquier referencia de KIDS por $49.900.</h5>

				</div>
				<br><br>
			</div>

			<div class="cartelera-texto flip1" style="height: 35vw;">

				<a href="javascript:mostrarPromocion(1)"><br> 
					<img width="25%" src="{{ asset('bundles/app/uploads/promociones/abril.jpg') }}" style="height: 28vw; float:left; margin: 2.5vw;"/>			
				</a> 
				<div class="t4" style="text-align:center;"><h2>ABRIL</h2></div>
				<div id="texto1" class="t4" >					
					<h5>3 PRENDAS O MAS llévalas con el 30% Lleva 2 prendas con el 20% de descuento y 1 prenda con el 10% de descuento.</h5>

				</div>
				<br><br>
			</div>

			<div class="cartelera-texto flip2" style="height: 35vw;">

				<a href="javascript:mostrarPromocion(1)"><br> 
					<img width="25%" src="{{ asset('bundles/app/uploads/promociones/bodytech.jpg') }}" style="height: 28vw; float:left; margin: 2.5vw;"/>			
				</a> 
				<div class="t4" style="text-align:center;"><h2>BODYTECH</h2></div>
				
				<div id="texto1" class="t4" >					
					<h5>Lo que te reta te transforma, aprovecha la súper promoción de abril, mes de la salud. Acércate al counter de tu sede y pregunta por ella.</h5>

				</div>
				<br><br>
			</div>

			<div class="cartelera-texto flip1" style="height: 35vw;">

				<a href="javascript:mostrarPromocion(1)"><br> 
					<img width="25%" src="{{ asset('bundles/app/uploads/promociones/springstep.jpg') }}" style="height: 28vw; float:left; margin: 2.5vw;"/>			
				</a> 
				<div class="t4" style="text-align:center;"><h2>SPRINGSTEP</h2></div>
		
				<div id="texto1" class="t4" >					
					<h6>Por compras superiores a $ 150.000 entre el Sábado 02 y el Sábado 30 de Abril de 2016 en una misma factura, con cualquiera de nuestros medios de pago, recibe $ 30.000 de obsequio para ser redimido en tu próxima compra superior a $ 120.000, entre los días 1 y 31 de Mayo de 2016.</h6>

				</div>
				<br><br>
			</div>

			<div class="cartelera-texto flip2" style="height: 35vw;">

				<a href="javascript:mostrarPromocion(1)"><br> 
					<img width="25%" src="{{ asset('bundles/app/uploads/promociones/domenico.jpg') }}" style="height: 28vw; float:left; margin: 2.5vw;"/>			
				</a> 
				<div class="t4" style="text-align:center;"><h2>DOMENICO</h2></div>
				
				<div id="texto1" class="t4" >					
					<h5>ABRIL A TUS PIES, en Outlets y Tiendas marcadas con la PROMO.</h5>

				</div>
				<br><br>
			</div>

			<div class="cartelera-texto flip1" style="height: 35vw;">

				<a href="javascript:mostrarPromocion(1)"><br> 
					<img width="25%" src="{{ asset('bundles/app/uploads/promociones/olimpica.jpg') }}" style="height: 28vw; float:left; margin: 2.5vw;"/>			
				</a> 
				<div class="t4" style="text-align:center;"><h2>OLIMPICA</h2></div>
				
				<div id="texto1" class="t4" >					
					<h5>No dejes de participar en SON MIL OLÍMPICA ¡Tu oportunidad para ganar! Conoce más en: http://www.olimpica.com.co/son-mil/</h5>

				</div>
				<br><br>
			</div>

			<div class="cartelera-texto flip2" style="height: 35vw;">

				<a href="javascript:mostrarPromocion(1)"><br> 
					<img width="25%" src="{{ asset('bundles/app/uploads/promociones/cuerpo.jpg') }}" style="height: 28vw; float:left; margin: 2.5vw;"/>			
				</a> 
				<div class="t4" style="text-align:center;"><h2>FORMA TU CUERPO</h2></div>
				<div id="texto1" class="t4" >					
					<h5>Visita nuestros puntos de venta a nivel nacional y por tu compra de ‪#‎faja‬ o jean ‪#‎FormaTuCuerpo‬ te obsequiamos un bono con el 30% de descuento para redimir en un jean en el mes de las madres. *Aplica condiciones y restricciones.</h5>

				</div>
				<br><br>
			</div>

			<div class="cartelera-texto flip1" style="height: 35vw;">

				<a href="javascript:mostrarPromocion(1)"><br> 
					<img width="25%" src="{{ asset('bundles/app/uploads/promociones/payless.jpg') }}" style="height: 28vw; float:left; margin: 2.5vw;"/>			
				</a> 
				<div class="t4" style="text-align:center;"><h2>PAYLESS COLOMBIA</h2></div>
				
				<div id="texto1" class="t4" >					
					<h5>Encuentra la comodidad a la hora de vestir ¡Aprovecha y lúcete con nuestra promoción!</h5>

				</div>
				<br><br>
			</div>

			<div class="cartelera-texto flip2" style="height: 35vw;">

				<a href="javascript:mostrarPromocion(1)"><br> 
					<img width="25%" src="{{ asset('bundles/app/uploads/promociones/aquiles.jpg') }}" style="height: 28vw; float:left; margin: 2.5vw;"/>			
				</a> 
				<div class="t4" style="text-align:center;"><h2>AQUILES</h2></div>
				
				<div id="texto1" class="t4" >					
					<h5>Tienes muchos roles y una imagen diferente para cada uno de ellos. Disfruta nuestro #2x1 #PerfectoparaTiYParaTi </h5>

				</div>
				<br><br>
			</div>

			<div class="cartelera-texto flip1" style="height: 35vw;">

				<a href="javascript:mostrarPromocion(1)"><br> 
					<img width="25%" src="{{ asset('bundles/app/uploads/promociones/futbol.jpg') }}" style="height: 28vw; float:left; margin: 2.5vw;"/>			
				</a> 
				<div class="t4" style="text-align:center;"><h2>EL 10 FUTBOL CLUB</h2></div>
				
				<div id="texto1" class="t4" >					
					<h5>Nuestro Club Deportivo por inauguración está otorgando 1 año #gratis para nuestra #escueladefutbol. No dejes pasar esta oportunidad.</h5>

				</div>
				<br><br>
			</div>

			<div class="cartelera-texto flip2" style="height: 35vw;">

				<a href="javascript:mostrarPromocion(1)"><br> 
					<img width="25%" src="{{ asset('bundles/app/uploads/promociones/lafam.jpg') }}" style="height: 28vw; float:left; margin: 2.5vw;"/>			
				</a> 
				<div class="t4" style="text-align:center;"><h2>LA FAM</h2></div>
				
				<div id="texto1" class="t4" >					
					<h5>En #Lafam tenemos las mejores marcas hasta con el 60% de descuento. ¡Ven y disfruta de nuestra gran promoción con la #GafaLocura! </h5>

				</div>
				<br><br>
			</div>

			

			<br>
			<!--div class="cartelera-texto " style="height: 35vw;">
				<img src="{{ asset('bundles/app/uploads/noticias/temporada-descuentos.jpg') }}" style="height: 30vw; float:left; margin: 1vw;" />
				
			</div-->

			<br>
			
			
		</div>

	   
	